{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}HR{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Human Resources Team</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/F4fcnudFaXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="https://otter.ai/u/0tUq99hflPFuRU9KznC8cvnRNoc" target="_blank">Click here</a> to listen to
                    / read our interview with Dr. Chris Henle, HR Professor at CSU.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/pQdGKdeZrbw"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h2>About Us</h2>
                    <p>
                        As we worked on this project as a team, we strived to find excellence in our studies and, while
                        doing so, reach different goals that we laid out. We believe that incentivizing productive work
                        was the first step to help others achieve success and help motivate students to complete their
                        work and ensure their best work was being put forth. We planned on incentivizing productive work
                        by giving out rewards that were directly attributed to being effective and consistent while also
                        being seen as a leader of the group or, in other words, being the most valuable player of your
                        team. We discovered that the best way to increase efficiency in and between other groups was
                        making sure that we fostered good communication within the groups. Promoting this good
                        communication would make the project seem less daunting and goals more achievable since everyone
                        was working together. We wanted to give all students a way to share their thoughts if they are
                        frustrated or have a different opinion. Their voices would be taken into account within their
                        group and be taken into account through Dr. Serrano.
                    </p>
                    <p>
                        By structuring our group around fostering communication and helping our peers achieve their
                        goals, we learned how to work efficiently as an HR team while helping others. We, as a team,
                        believe that the steps we took reached every one of our goals and made a positive impact on this
                        project.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <div class="card">
                <img src="{{ url_for('static', filename='images/hr.jpg') }}" alt="The HR Team" class="card-img-top">
                <div class="card-body">
                    Section 001 Group Members: Annica Webb, River Brooks, Caylee Chan, Matthew Dunham, Christian
                    Hudgins, Sophie Littwitz, Audrey May, Mike McCormick, Alphonso Steward, Tyler Stone, Alex Sukach,
                    Jawaher Al Maaini
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    