{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}HR{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>HR</h1>
            <p>This is the HR advisory team page.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/pQdGKdeZrbw" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
        <div class="col-12 col-lg-6 mb-3">
            <p>This will be a blurb about what they did as a team for this project
            <p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="list-group">
                    <div class="list-group-item">
                        <a target="_blank"
                           href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSfFthrVBAdOYLq7RzmMzwUQp1xuv6yMy-nJU5lm1ArkNZ4bpA%2Fviewform%3Fusp%3Dsf_link&data=04%7C01%7CJack.Hermanson%40colostate.edu%7C75a59655feed4a79220108d99f4208cd%7Cafb58802ff7a4bb1ab21367ff2ecfc8b%7C0%7C0%7C637715928239073348%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=dbMhx%2BxuNgVpf%2FSTIjOHWQhNc6k%2Fg6LYFOmsO6hPIa8%3D&reserved=0">Advisory
                            Teams Weekly Form</a>
                    </div>
                    <div class="list-group-item">
                        <a target="_blank"
                           href="https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSdt4R1h8DdjiuD5i3Da6fsf1J_vnF0YxaPEvBcQSCbq48wb4Q%2Fviewform%3Fusp%3Dsf_link&data=04%7C01%7CJack.Hermanson%40colostate.edu%7C75a59655feed4a79220108d99f4208cd%7Cafb58802ff7a4bb1ab21367ff2ecfc8b%7C0%7C0%7C637715928239083344%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=VZAJ0FJ4krufPCfoR%2BVOACsKfdM4p3YsQllIftLgdQ8%3D&reserved=0">B4BW
                            Teams Weekly Form</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    