{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Advisory{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Advisory</h2>
            <p>Advisory teams help other students complete their Business for a Better World mini-projects.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2069&q=80" alt="Project Management" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Project Management</h5>
                    <p class="card-text">The Project Management team helps keep various components of the project on track.</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('advisory.project_management') }}">PM Team Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1583339793403-3d9b001b6008?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="IS Team" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">IS Team</h5>
                    <p class="card-text">The Information Systems team builds and maintains this website.</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('advisory.is_team') }}">IS Team Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1533750349088-cd871a92f312?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" alt="Marketing" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
                    <p class="card-text">The Marketing team designs the website, writes content, and helps spread the word.</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('advisory.marketing') }}">Marketing Page</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&h=1380&q=80" alt="Learning Support" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Learning Support</h5>
                    <p class="card-text">The Learning Support team writes the final exam and helps students in their learning process.</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('advisory.learning_support') }}">Learning Support Page</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1521791136064-7986c2920216?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&h=1380&q=80" alt="Human Resources" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Human Resources</h5>
                    <p class="card-text">The HR team makes things easier for people in different situations and helps to resolve conflict.</p>
                    <a class="btn btn-primary text-white" href="{{ url_for('advisory.hr') }}">HR Team Page</a>
                </div>
            </div>
        </div>
    </div>
    
{#    <div class="row">#}
{#        <div class="col-12 col-lg-6">#}
{#            <div class="list-group">#}
{#                <a href="{{ url_for('advisory.project_management') }}" class="list-group-item list-group-item-action">Project Management</a>#}
{#                <a href="{{ url_for('advisory.is_team') }}" class="list-group-item list-group-item-action">Information Systems</a>#}
{#                <a href="{{ url_for('advisory.marketing') }}" class="list-group-item list-group-item-action">Marketing</a>#}
{#                <a href="#" class="list-group-item list-group-item-action">Learning Support</a>#}
{#                <a href="{{ url_for('advisory.hr') }}" class="list-group-item list-group-item-action">Human Resources</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock body %}

