{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Advisory{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Advisory</h2>
            <p>Advisory team pages can be found here.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group">
                <a href="" class="list-group-item list-group-item-action">Project Managers</a>
                <a href="" class="list-group-item list-group-item-action">Information Systems</a>
                <a href="" class="list-group-item list-group-item-action">Marketing</a>
                <a href="" class="list-group-item list-group-item-action">Learning Support</a>
                <a href="" class="list-group-item list-group-item-action">Human Resource</a>
            </div>
        </div>
    </div>


{% endblock body %}

