{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Learning Support{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Learning Support</h2>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <h5>Synonym.com</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/fCdOsxcwMvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <p>This is the learning support page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <h5>
                <a href="https://lib.colostate.edu/">CSU Library</a>
            </h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/4zSGM4UWrIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            <h5>CSU Research help Database search options</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/hDM95ZSNFKA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h5>Evaluating info</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/TczQXKdAgik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h5>Locating documents</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/qLaZeSbWWwA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h5>Organizing Sources</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/kEbt1aU5yfI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>TILT Center</h5>
            <a href= "https://tilt.colostate.edu/Learning/Tutoring/FreeAcademicSupport" >Free Academic Support</a>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/qOsLnTipknA" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    
    <div class="row">
        <h3>Writing Center Website</h3>
        <div class="col-12 mb-3">
            <h5>
                <a href="https://writingcenter.colostate.edu/">writing Center</a>
            </h5>
        </div>

        <div class="col-12-mb-3">
            <h5>The Colorado State University Writing Center</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/dB4YNzmck0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12-mb-3">
            <h3>CSU COB Event center</h3>
            <h5><a href="https://biz.colostate.edu/events">Events</a></h5>
        </div>
    </div>
{% endblock body %}
