{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Learning Support Team{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12 mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{{ url_for('advisory.learning_support_001') }}" class="nav-link">Section 001</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('advisory.learning_support_004') }}" class="nav-link active">Section 004</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <h1>Learning Support</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Elizabeth Pickrel:</h3>
                    <p class="larger-line-height two-columns">
                        Throughout the semester, I have learned that people and processes
                        are the main reason issues occur in information systems and in the workplace. While working on
                        creating the final
                        exam, communication issues occurred due to the two learning support teams being in different
                        classes. The lack of
                        communication between the teams, especially when large changes were made during class, resulted
                        in many people being
                        confused and frustrated with each other. The most important thing I learned is that I had to
                        actively work to
                        communicate with the other team to let them know what we were working on and what changes had
                        been made to keep
                        everyone on the same page and keep the work running smoothly. This issue existed within our team
                        as well.
                        Some people were able to stay after class or attend the Friday meetings and would speak with the
                        professor separately.
                        This created an issue when we did not share all the information discussed with the professor to
                        our other team members,
                        leaving members confused about our tasks and what parts of our plan had changed. Breaking down
                        these information silos
                        by finding new ways to communicate (such as group texts or chatting on Microsoft Teams) was
                        required for our team to be
                        able to effectively work with our team members and with other teams as well. I also learned that
                        intrinsic motivation
                        and being a self-starter are the best ways to work effectively in a team, as they allow for me
                        to look for tasks that
                        I see need to be done and to begin working on those tasks or delegating them to others. This is
                        how gaps in work are
                        filled and helps group work move more smoothly. Lastly, I learned that I am a capable leader and
                        am skilled in helping
                        others, but that I need to work on asking for help and letting others know when I have too much
                        on my plate. I am just
                        one person and asking for help from others allows for different perspectives and creates better
                        work overall.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Kaden Mohror:</h3>
                    <p class="larger-line-height two-columns">One of the first lessons I learned was how to take massive amounts of data and break it down.
                        I did this using various methods, but pivot tables were the most reliable for the work I was
                        doing.
                        By condensing the data, I was able to filter/analyze it and turn it into useful information.
                        I very quickly learned that data and analysis skills fell short when lacking social skills.
                        Being able to speak with different people spanned across different teams, I was able to develop
                        said social skills.
                        Throughout this process, I was able to learn more about how to communicate needs, keep
                        conversations on topic,
                        and how to have difficult conversations with people. The last major point of learning I
                        experienced was how
                        attitudes and personalities affect the team, the quality of the work, and the efficiency of the
                        work.
                        This was evident in teams that did not have a good mixture of personalities and attitudes but
                        also in teams
                        who did have those things. There was also a noticeable trend of conforming within teams. If one
                        person was
                        outspoken enough, their views would generally be the “team’s” views despite individuals not
                        necessarily agreeing.
                        The same goes for attitudes/outlooks when it came to projects. If a couple people were super
                        negative, they would
                        drag the others in their group down. If a couple people were positive about everything, they
                        lifted the others up.
                        There were lots of little lessons such as time management, organization strategies, and
                        documentation to go along
                        with those main areas of learning, but many of these smaller lessons were not as impactful upon
                        me or I simply did
                        not learn as much about them.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Ezekiel Jackson:</h3>
                    <p class="two-columns larger-line-height">Throughout this semester I have learned a great deal ranging from taking large amounts of data
                        and compiling
                        it/turning it into layman terms to improving and maintaining communication skills. I definitely
                        was lacking a
                        great deal of understanding in data work before this semester, and the material I learned
                        throughout this semester
                        helped to show me how to work more effectively. While I tend to be decent at communication,
                        learning to communicate
                        with a team that has individuals that cannot attend certain meetings was a new challenge.
                        Learning about how to get
                        information to those team members was interesting, as the information was often quite important
                        to material going
                        forward. Getting the information from the Friday meetings distributed to the other Learning
                        Support Team members
                        posed new challenges especially when trying to find out what people already knew and what they
                        did not.
                        After working with members in the team we were able to find methods to communicate information
                        in a reasonably
                        expedient manner, group text messaging and the use of Microsoft Teams, to ensure all information
                        was distributed.
                        After breaking down those barriers the cohesiveness of our team increased drastically, and
                        progress was made much
                        smoother. Another thing I learned was to work alongside other team leaders to get a clear
                        picture of what was
                        occurring in the class overall and how I could assist them after my work for the LS team was
                        finished.
                        Towards the end of the semester, I picked up the role of Public Relations, or PR as I called it,
                        to work on my
                        soft/social skills to try and get the B4BW final project done smoothly while working with the
                        Project Management Team. It helped me to understand how to work with groups of people who need
                        encouragement and
                        milestones, rather than pushing and deadlines. Overall, the lessons in learning how to compile
                        data and turn it into
                        layman terms was extremely helpful, and the ability to learn the best ways to communicate with a
                        team and to work
                        with people more closely was great. Working with people outside of the team was less beneficial
                        than, when
                        I was working with the team, but nonetheless it helped me to hone my skills.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Peyton Chatfield:</h3>
                    <p class="larger-line-height two-columns">Throughout this semester I learned about what an information system is and learned a lot about
                        the people aspect.
                        As a part of the learning support team, we were responsible for creating the final exam and
                        rubric (even though
                        it will not be used this semester) and I learned a lot about how to work together to achieve our
                        goals.
                        We used Trello to keep track of the tasks we need to get done and it was helpful to see what we
                        had accomplished,
                        what we were working on and what we needed to start on. I think that reflecting back on how we
                        attempted to use
                        Scrum to keep things organized will be beneficial in the future for all of us. I gathered data
                        regarding what
                        hard skills employers are looking for from entry level employees at this time to ensure that
                        what we were learning
                        in the course would be used in our future lives and beneficial in the long run. When we needed
                        to create a list
                        of resources that the students could use to find help or just basic information regarding the
                        class, another
                        teammate and I compiled the data and created a list that had all the necessary information.
                        Something else that
                        I learned this semester is how important communication is when working with other people,
                        especially in teams
                        or just larger groups. Not everything went smoothly but after having conversations and
                        communicating about
                        what went wrong, we were able to successfully solve any problems we had. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Jenna Wallace:</h3>
                    <p class="larger-line-height two-columns">This semester I have learned an abundance about what information systems are and all the
                        different variables that
                        can go into it. When joining the learning support team, I was eager to take on responsibility
                        and help create
                        something of value for the class. I really felt like I was able to do this through all the
                        research and information
                        gathered in and outside of the classroom. An interesting aspect I took away from my personal
                        responsibilities was
                        the time and effort that individuals can put into surveys. This allowed me to see how there can
                        be a good bias or
                        a bad bias depending on the recipient of the survey. I also learned about different ways to
                        implement surveys
                        and how it can be helpful for others. By having access to Canvas, I was able to see the
                        different ways to post a
                        survey either being in an announcement or through modules. The data received by the groups lead
                        me to a better
                        understanding of what grabbed the attention of students in our class specifically. Our group
                        used Trello to help
                        us manage all the tasks we had at hand this semester. This has taught me a good lesson in what I
                        am able to take
                        on as an individual. Sometimes I found myself taking on too much work and not being able to
                        manage it well in a
                        timely manner. Trello helped me put this into perspective and better advocate for myself.
                        Finally, through my
                        contribution this semester I learned the most about people. I didn’t understand at the beginning
                        of the semester
                        when we were told people can be the faculties part of information systems. However, this proved
                        itself to be true.
                        I was able to help the class mitigate any concerns there might be within groups overall through
                        the class.
                        Being able to help Dr. Serrano with the difficult conversation activity gave me a sense of take
                        away from learning
                        I hadn’t received in this course yet. All in all, working with the learning support team has
                        taught me great amounts
                        of collaboration and different forms of doing so in a computer information systems class.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Adrian Vecino:</h3>
                    <p class="larger-line-height two-columns">This semester I learned about the importance of communication and the way this affects the
                        environments that
                        we as people takeover. At the beginning of the semester Dr. Serrano expressed that the &ldquo;People&rdquo;
                        category of
                        Computer Information Systems is the most difficult and is much of the damage to the different
                        systems. As the
                        semester progressed, the issues of the “people'' category began to emerge in the classroom.
                        There was a lack of
                        communication and direction, which affected the progress of the class project and the course.
                        The advising teams
                        focused on making sure that things were going smoothly with the projects and the class. This was
                        difficult,
                        but it was a learning experience. I learned to work with not just one group, but with multiple
                        and learned
                        that as people we take on roles that affect those around us. For example, within the X there was
                        lack of
                        communication, which affected their work progress, thus affecting the other teams that need team
                        X part of
                        the project. This example occurred in our class with many of the groups as the people began to
                        get confused
                        with what they needed to work on. There was a lack of direction and now looking back this has
                        taught me that
                        if I need help, I should communicate that rather than just continuing to be confused. Due to the
                        structure
                        change of the course, there was a lack of knowledge of what the progress of the course/ project
                        was going to
                        look like at the end. This situation taught me that there are going to be situations in which I
                        am not going
                        to know what is coming next but that I should continue nonetheless to make greater progress. I
                        was fortunate
                        to have the Learning Support Team to guide and help me when I needed assistance with the course
                        and what needed
                        to be done. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Joshua Meyer:</h3>
                    <p class="larger-line-height two-columns">Looking back on this semester and this class, joining the Learning Support team made me be more
                        active and
                        “useful” to a class instead of just floating through it doing the bare minimum of work. Working
                        with a group of
                        people to create various items like the final and exam and rubric has been interesting and was a
                        unique learning
                        experience as I have not tried to tackle something like that before. Learning how to break data
                        down and how to
                        group that data into specific sections was surprisingly fun even if it is tedious. I believe
                        that ignoring all of
                        the constant problems the entire class experienced together I was still able to grasp something
                        beneficial from
                        this course. Having to work through the difficulties all semester was a bit taxing at times, but
                        we all made it
                        through it. While this class was nothing like I expected it to be back in August I'm in a way
                        grateful for this
                        experience as I believe situations like this will show up in the real world later on and if I
                        hadn’t gotten thrown
                        into this, I would be way more lost in the future. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
