{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Learning Support{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h2>Learning Support</h2>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <h5>Synonym.com</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/fCdOsxcwMvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <p>This is the learning support page.</p>
        </div>
    </div>
    
    <div class="row">
        <h3>Writing Center Website</h3>
        <div class="col-12 mb-3">
            <h5>
                <a href="https://writingcenter.colostate.edu/">writing Center</a>
            </h5>
        </div>

        <div class="col-12-mb-3">
            <h5>The Colorado State University Writing Center</h5>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/dB4YNzmck0g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock body %}
