{% extends "base.html" %}
{% set active_page = "advisory" %}
{% set learning_support = true %}

{% block title %}Learning Support{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{{ url_for('advisory.learning_support_001') }}" class="nav-link active">Section 001</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('advisory.learning_support_004') }}" class="nav-link">Section 004</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <h1 class="display-5">Student Resources</h1>
            <p class="lead mb-0">Our Learning Support team has compiled these resources for College of Business
                students.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="sticky-top">
                <div class="list-group" id="list-group">
                    <a href="#library" class="list-group-item">Library</a>
                    <a href="#tilt" class="list-group-item">TILT</a>
                    <a href="#writing-center" class="list-group-item">Writing Center</a>
                    <a href="#cob-contact" class="list-group-item">COB General Contact Info</a>
                    <a href="#cob-events" class="list-group-item">COB Event Center</a>
                    <a href="#cob-research" class="list-group-item">COB Research</a>
                    <a href="#remote-desktop" class="list-group-item">Remote Desktop (eLab)</a>
                    <a href="#grammarly" class="list-group-item">Grammarly</a>
                    <a href="#google-docs" class="list-group-item">Google Docs</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row" id="library">
                <div class="col-12 mb-3">
                    <h4>
                        <a target="_blank" href="https://lib.colostate.edu/">CSU Library</a>
                    </h4>

                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/4zSGM4UWrIQ"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h5 class="mt-3">CSU Research Help Database Search Options</h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/hDM95ZSNFKA"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h5 class="mt-3">Evaluating Info</h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/TczQXKdAgik"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h5 class="mt-3">Locating documents</h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/qLaZeSbWWwA"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h5 class="mt-3">Organizing Sources</h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/kEbt1aU5yfI"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="row" id="tilt">
                <div class="col-12 mb-3">
                    <h4>TILT Center</h4>
                    <a target="_blank" href="https://tilt.colostate.edu/Learning/Tutoring/FreeAcademicSupport">Free
                        Academic
                        Support</a>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/qOsLnTipknA"
                            title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row" id="writing-center">
                <div class="col-12 mb-3">
                    <h4>Writing Center Website</h4>
                    <h5>
                        <a target="_blank" href="https://writingcenter.colostate.edu/">Writing Center</a>
                    </h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/dB4YNzmck0g"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="row" id="cob-contact">
                <div class="col-12 mb-3">
                    <h4>COB General Contact Info</h4>
                    <dl>
                        <dt>Phone</dt>
                        <dd>(970) 491-6471</dd>

                        <dt>Website</dt>
                        <dd><a target="_blank" href="https://biz.colostate.edu/about/contact-us">Online Contact</a></dd>
                    </dl>
                </div>
            </div>
            <div class="row" id="cob-events">
                <div class="col-12 mb-3">
                    <h4>CSU COB Event center</h4>
                    <h5><a target="_blank" href="https://biz.colostate.edu/events">Events</a></h5>
                </div>
            </div>
            <div class="row" id="cob-research">
                <div class="col-12 mb-3">
                    <h4>COB Research Website</h4>
                    <h5>
                        <a target="_blank"
                           href="https://colostate-marketing.sona-systems.com/Default.aspx?ReturnUrl=%2f">College of
                            Business
                            Research Sign-up System</a>
                    </h5>
                </div>
            </div>
            <div class="row" id="remote-desktop">
                <div class="col-12 mb-3">
                    <h4>eLab Remote Desktop</h4>
                    <h5>
                        <a target="_blank"
                           href="https://colostate.sharepoint.com/:w:/s/COBITPublic/EYzPyZlIR7BCr-sHHLdcMg0B20cuorcTVKYzBIuJ7k6KPA?rtime=7edpBjKm2Ug">elab
                            Remote Desktop Guide</a>
                    </h5>
                </div>
            </div>
            <div class="row" id="grammarly">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h4>Grammarly (Correct grammar and overall structure)</h4>
                            <h5>
                                <a target="_blank" href="https://app.grammarly.com/">Adding Grammarly to Windows</a>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <h5>Install</h5>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/ABViUz6ZaO4"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <h5>How to Use</h5>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/YxF7wweNyIk"
                                    title="YouTube video player"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="google-docs">
                <div class="col-12 mb-3">
                    <h4>Google Docs</h4>
                    <h5>Google Docs Tutorial</h5>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/OBITNezSmLY"
                            title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                    <h5 class="mt-3">
                        <a target="_blank"
                           href="https://business.tutsplus.com/articles/google-docs-vs-microsoft-word--cms-35158">
                            Google Docs or Word</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
