{% extends "base.html" %}
{% set active_page = "advisory" %} 

{% block title %}Marketing{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Marketing</h2> 
            <p>This is the marketing team page</p> 
            <p>Lorem ipsum dolor sit amet, quo eu agam congue neglegentur, omnes maiestatis deseruisse no vix. Graecis oporteat indoctum mel ei, vocent adversarium ius ne. Lorem velit inimicus ad mel, etiam nonumy integre eum et. Eu vis erat ullum. In quo erant commune consectetuer, mel harum eripuit at, exerci deleniti et his. No vis ridens voluptua definitionem, ad eos nostro quodsi epicuri.</p> 
            <p>Has ea aliquip liberavisse, ei sit vide euripidis. Vel aeque laboramus et. No maiorum praesent eam. Brute veritus delicata ea has, blandit scaevola ad his. Usu diceret praesent inciderint ei, ne veri recusabo mel.
            </p> 
        </div>
    </div>
{% endblock body %}

