{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Marketing{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Marketing</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <img src="{{ url_for("static", filename="images/marketing.jpg") }}"
                 alt="Marketing Team Working"
                 class="img-fluid mobile-limit-image"
            />
        </div>
    </div>
{% endblock body %}

