{% extends "base.html" %}
{% set active_page = "advisory" %} 

{% block title %}Marketing{% endblock title %} 

{% block body %}
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <img src="{{ url_for("static", filename="images/marketing.jpg") }}"
             alt="Marketing Team Working"
             class="img-fluid mobile-limit-image"
        />
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Marketing</h1> 
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p> As a whole, the marketing team agrees that this project was a great overall experience.
                    It taught us how to work together as a team, accomplish goals with a proper deadline and
                    timeline, and gain overall experience in what marketing a website could potentially look like.
                </p>
                <p>
                    Working with strangers was tough at first, communication is everything and we did
                    struggle with that. For the next marketing team, we suggest getting into contact with everybody
                    on your team as soon as possible so everyone can stay in the loop. As well, talk to other
                    groups. Stay connected with one another, share your ideas and ask questions; this will only
                    benefit your team’s work and the website as a whole.
                </p>
                <p>
                    Your goal of this project is to work together effectively and efficiently. It is a great way to
                    gain experience in your career field since almost everyone will be working with a team. Take this
                    project seriously. The more you and your team work together to the best of your abilities it
                    should be an easy, fun learning experience.
                </p>
                <p>
                    Due to this project being the first for Dr. Serrano and her students, we had plenty more to
                    finish. You will have a more thought-out schedule and approach. With that being said, we
                    suggest using creative briefs and/or other layouts to help get you started and help you and your
                    team decide on what you want your marketing experience to be like. Remember, this is meant
                    to benefit you, so have fun with it!
                </p>
                <p>
                    The Marketing Team, 2021
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}

