{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Multimedia{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Multimedia</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body three-columns larger-line-height">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deserunt illum quis. Impedit iste
                        magni voluptatibus voluptatum. Adipisci aliquid amet architecto consectetur consequuntur debitis
                        deserunt ea eaque esse et eum hic incidunt ipsa iste iusto libero necessitatibus nesciunt
                        obcaecati odio officiis optio placeat quasi reiciendis rem, similique tenetur ut veniam
                        veritatis voluptates voluptatibus! Aliquam explicabo natus tempore. Animi assumenda aut
                        blanditiis commodi dolore eligendi error est et eveniet explicabo fugiat fugit ipsa ipsum itaque
                        iure, magnam nam officiis provident quasi quos repellendus rerum sit vero vitae voluptatum?
                        Aspernatur commodi debitis obcaecati perferendis praesentium provident, quis quos similique,
                        vitae voluptates voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
