{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Project Management{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Project Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/ndglxsKqVkE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <p class="lead mb-0">The PM team created a video to explain their role and lessons learned in the website
                project. They also researched leadership styles and the Scrum framework, described in the team’s summary
                below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p>
                        <b>Leadership</b> is not so simple to define, as it comes in many shapes and forms. Through
                        other definitions and research, we developed our own definition that perfectly fits what we are
                        trying to achieve in our overall project. Our new definition of leadership for this project is
                        <i>“being in a position to lead others in a group or organization towards a common goal in
                            bettering the business world.”</i>
                        Using this definition as a guideline, we can move towards changing the business
                        world for the better in many ways. Throughout our project, the whole class dealt with many forms
                        of adversity and had to overcome them. By delegating tasks, workflows, and goals throughout each
                        group, members had the opportunity to make their own contributions in researching their
                        respective business for a better world topics.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height">
                    <p>To inform our work as project managers, we researched leadership styles and explored styles that
                        mapped to our strengths and weaknesses as leaders, so we could identify areas we needed to
                        develop and improve while honing and teaching peers our strengths.</p>
                    <p class="mb-0">Five common leadership styles are:</p>
                    <ul class="serif mb-0">
                        <li>Authoritarian (Autocratic) Leadership,</li>
                        <li>Participative (Democratic) Leadership,</li>
                        <li>Delegative (Laissez-Faire) Leadership,</li>
                        <li>Transactional Leadership, and</li>
                        <li>Transformational Leadership.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p>Each of these has their own respective pros and cons and different situations where one would
                        work better than the rest. Throughout the project, we were charged with reflecting on our
                        leadership styles and where we needed to improve.</p>
                    <p>Another key insight that emerged through our project is that leadership through managers is only
                        one of the required ingredients for project success. Leaders cannot exist without followers. One
                        of the project managers, Ian Klava, communicated the importance of followership as a core
                        facilitator of productivity and commitment in the project. Followership integrates the traits,
                        behaviors, and outcomes of followers in the leadership process, offering a more holistic view
                        than leader-centric views alone. For example, whether project members were proactive, passive,
                        supportive, or resistant made an impact on the overall project. </p>
                    <p>The Scrum framework was mostly implemented by the IS team, trained by TAs Jack Hermanson and
                        Mahlet Amde. Other teams struggled to put Scrum to practice, even though most teams used a Scrum
                        board to some degree to manage their projects.</p>
                    <p>The values of Scrum are <i>commitment, focus, openness, respect,</i> and <i>courage</i>, which
                        should promote
                        effective followership in the leadership process. Future teams should make a real effort to
                        implement the Scrum framework and remain committed to its core values throughout your time
                        working on the website project.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Sources</h3>
                    <p>Nanjundeswaraswamy, T. S., & Swamy, D. R. (2014). Leadership styles. <i>Advances in Management</i>, 7(2), 57-62.</p>
                    <p>Uhl-Bien, M., Riggio, R. E., Lowe, K. B., & Carsten, M. K. (2014). Followership theory: A review and research agenda. <i>The Leadership Quarterly</i>, 25(1), 83-104.</p>
                    <p>What is Scrum? Scrum.org. (n.d.). Retrieved from <a href="https://www.scrum.org/resources/what-is-scrum">https://www.scrum.org/resources/what-is-scrum</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

