{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Project Management{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Project Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/ndglxsKqVkE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <p class="lead mb-0">The PM team created a video to explain their role and lessons learned in the website
                project. They also researched leadership styles and the Scrum framework, described in the team’s summary
                below.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p><b>Leadership</b> is not so simple to define, as it comes in many shapes and forms. Through other
                        definitions and research, we developed our own definition that perfectly fits what we are trying
                        to
                        achieve in our overall project. Our new definition of leadership for this project is <i>“being
                            in a
                            position to lead others in a group or organization towards a common goal in bettering the
                            business
                            world.”</i>
                        Using this definition as a guideline, we can move towards changing the business
                        world for the
                        better in many ways. Throughout our project, the whole class dealt with many forms of adversity
                        and had
                        to overcome them. By delegating tasks, workflows, and goals throughout each group, members had
                        the
                        opportunity to make their own contributions in researching their respective business for a
                        better world
                        topics.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}

