{% extends "base.html" %}
{% set active_page = "main" %}

{% block title %}Information is Power{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 col-lg-5 mb-3 mb-lg-0">
        <img src="https://images.unsplash.com/photo-1495814994547-3c7b11eb9938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
            alt="temporary image" class="img-fluid mobile-limit-image" />
    </div>
    <div class="col-12 ps-lg-4 col-lg-7 d-flex flex-column">
        <h1 class="mb-4">BizRams Building a Better World</h1>

        <p class="larger-line-height">
            Emboldened to not only <span class="fw-bold fst-italic">learn about</span> harnessing business for a
            better world, Colorado State University students decided to <span class="fw-bold fst-italic">actively
                engage</span> in projects that better the world. </p>
        <p class="larger-line-height">During
            Fall 2021, two sections of CIS200 Business Information Systems students imagined, designed, and built this
            website to showcase student-driven projects centered on business sustainability challenges and solutions.
        </p>
        <p class="larger-line-height">
            Through their projects, students learned an important lesson, one that underscores a core tenet
            of this website: <strong>information is power</strong>.
        </p>
        <p class="larger-line-height">With rising concerns about online misinformation and disinformation, students
            aspired to harness the power of information to better the world and unite our communities. Prioritizing the
            presentation of evidence-based content on this website, teams consulted peer-reviewed sources and collected
            primary data through surveys, interviews with experts, and field observations, with the end goal of sharing
            their projects with the community. </p>
        <p class="larger-line-height">
            View student projects by selecting the business sustainability areas of interest (economic, environmental,
            and social) in the top navigation. Be sure to learn more about the student teams and what they gained from
            this project experience by visiting
            <a href="{{ url_for('advisory.index') }}">Meet the Teams</a>.
        </p>
        <span class="mt-auto">
            <a class="large-link" href="{{ url_for('main.projects') }}">View Featured Projects &LongRightArrow;</a>
        </span>
    </div>
</div>
{% endblock body %}