{% extends "base.html" %}
{#{% set container_background = "bg-white" %}#}

{% block title %}Projects{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="mb-3">Featured Business Sustainability Projects</h1>
            <p class="lead">This page spotlights projects selected for their creativity, focus on local business sustainability challenges, and/or primary data collection efforts.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="Sustainability"
                 src="https://images.unsplash.com/photo-1504817343863-5092a923803e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1656&q=80"
            />
        </div>
        
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.csu_sustainability') }}">CSU Sustainability Initiative</a>
            </h4>
            <p class="lead">Colorado State University is one of the most sustainable higher education institutions in the world and was the first to receive a "platinum" rating by the Sustainability Tracking and Rating System. Other universities can look to CSU as a resource when striving to become more sustainable.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1619865482177-71d195df05b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="livestock sustainability"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.livestock_sustainability') }}">Livestock Sustainability with Dr. Temple Grandin</a>
            </h4>
            <p class="lead">Livestock sustainability is a moral issue, with the management of livestock having impacts on ethical animal welfare and the global climate. To learn more about these topics, two teams interviewed Dr. Temple Grandin, a world-renowned animal scientist and professor at Colorado State University.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="homelessness"
                 src="https://images.unsplash.com/photo-1518398046578-8cca57782e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            />
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.homelessness_in_colorado') }}">Homelessness in Colorado</a>
            </h4>
            <p class="lead">Businesses have a unique ability to change the lives of the less fortunate people in their area. To learn more about homelessness in Colorado, our team interviewed unhoused individuals in Fort Collins. Our page discusses ways businesses can help fellow neighbors who need housing in their local communities.</p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="affordable housing"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.affordable_housing') }}">Affordable Housing</a>
            </h4>
            <p class="lead">
                Housing is a necessity for humans, helping to fulfill the basic need for safety. However, housing prices and rents have increased substantially, often pricing low-income families out of the market. Our project explores affordable housing, with a focus on Colorado.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="sustainable restaurants"
                 src="https://images.unsplash.com/photo-1477763858572-cda7deaa9bc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1684&q=80"
            />
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.sustainable_restaurants') }}">Sustainable Restaurants</a>
            </h4>
            <p class="lead">
                The “Greenhouse Restaurant” concept is a locally sourced fine dining restaurant. All the food that is
                used in the restaurant comes from these greenhouses and the food waste generated in the restaurant will
                be composted and used again in the soil. This concept will help to address the issues of sustainability,
                food waste, and locally sourced food in the restaurant industry.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                 alt="Healthy Food"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.health_foods') }}">Healthy Food and Discrimination</a>
            </h4>
            <p class="lead">In many communities, healthy foods are more expensive than unhealthy foods. Our project highlights the business challenge of making healthy foods affordable and accessible to all our communities.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1534330207526-8e81f10ec6fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="Social Isolation"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.social_isolation') }}">Social Isolation with Dr. Jennifer Harman</a>
            </h4>
            <p class="lead">To provide a closer look at something we all have faced during the COVID-19 pandemic, we interviewed a renowned professor at Colorado State University, Dr. Jennifer Harman, about social isolation.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1618914240221-2fa78110c0c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="Forensic Accounting and Money Laundering"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.identity_theft_money_laundering') }}">Online Identity Theft and Money Laundering</a>
            </h4>
            <p class="lead">Online identity theft can lead to your banking accounts being used for money laundering. Our team interviewed a victim of this online fraud, a U.S. Marine Corps Major who lost thousands of dollars. </p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>
{% endblock body %}