{% extends "base.html" %}
{#{% set container_background = "bg-white" %}#}

{% block title %}Projects{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <h1>Featured Projects</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="Sustainability"
                 src="https://images.unsplash.com/photo-1504817343863-5092a923803e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1656&q=80"
            />
        </div>
        
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.csu_sustainability') }}">CSU Sustainability Initiative</a>
            </h4>
            <p class="lead">An average college student accounts for 640 pounds of trash a year, and CSU has over 30,000 students.
                Our project focuses on the CSU Sustainability Initiative, highlighting how CSU is a top ranked sustainable higher education institution.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1619865482177-71d195df05b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="livestock sustainability"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.livestock_sustainability') }}">Livestock Sustainability</a>
            </h4>
            <p class="lead">Livestock handling and management pose challenges to evironmental sustainability. We interviewed world-renowned CSU professor and livestock sustainability expert Dr. Temple Grandin, who discusses solutions to some of these pressing issues.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>


    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="homelessness"
                 src="https://images.unsplash.com/photo-1518398046578-8cca57782e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            />
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.homelessness_in_colorado') }}">Homelessness in Colorado</a>
            </h4>
            <p class="lead">The most obvious reason that businesses should engage in combating homelessness is the
                ethical outcome that business can provide. Large organizations dominate cities, specifically the stores
                and services that line the streets. For businesses, these locations are strategic in their mission to
                reach the most people, but for the homeless communities of the cities, these places can provide life
                changing services.</p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1516156008625-3a9d6067fab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="affordable housing"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.affordable_housing') }}">Affordable Housing</a>
            </h4>
            <p class="lead">
                Affordable housing in Colorado that Odell is working on. Impact of affordable housing being given to
                families that need it.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img class="img-thumbnail"
                 alt="sustainable restaurants"
                 src="https://images.unsplash.com/photo-1477763858572-cda7deaa9bc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1684&q=80"
            />
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.sustainable_restaurants') }}">Sustainable Restaurants</a>
            </h4>
            <p class="lead">
                The “Greenhouse Restaurant” concept is a locally sourced fine dining restaurant. All the food that is
                used in the restaurant comes from these greenhouses and the food waste generated in the restaurant will
                be composted and used again in the soil. This concept will help to address the issues of sustainability,
                food waste, and locally sourced food in the restaurant industry.
            </p>
            <small class="text-muted">Fall 2021</small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                 alt="Healthy Food"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.health_foods') }}">Healthy Food and Discrimination</a>
            </h4>
            <p class="lead">Unhealthy food is more affordable than healthy food.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1534330207526-8e81f10ec6fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="Social Isolation"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.social_isolation') }}">Social Isolation</a>
            </h4>
            <p class="lead">In an effort to provide a closer look at something we all have faced during the COVID pandemic, we interviewed a renowned professor of Colorado State University, Dr. Jennifer Harmon.</p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1618914240221-2fa78110c0c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                 alt="Forensic Accounting and Money Laundering"
                 class="img-thumbnail">
        </div>
        <div class="col-12 col-lg-8">
            <h4 class="serif mb-3">
                <a href="{{ url_for('projects.identity_theft_money_laundering') }}">Forensic Accounting and Money Laundering</a>
            </h4>
            <p class="lead">Illustrating the risk of money laundering, as well as potential countermeasures to limit personal susceptibility through an interview with Doug Burian. </p>
            <small class="text-muted">
                Fall 2021
            </small>
        </div>
    </div>
{% endblock body %}