@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$will-gray: #f1eeeb;
$light-brown: #767263;

body {
  .main-container {
    min-height: 60vh;
  }
  background-color: white;
}

.bg-will-gray {
  background: $will-gray;
}

.bg-light-brown {
  background: $light-brown;
}

.larger-line-height {
  line-height: 2;
}

.main-nav {
  padding-top: 50px;
  padding-bottom: 70px;
}

#main-logo {
  max-height: 140px;
}

.card-body p, p:not(.font-sans-serif) {
  font-family: $font-family-serif;
}

.font-sans-serif {
  font-family: $font-family-sans-serif;
}

#view-projects {
  font-size: 0.8em;
  border-radius: 0;
}

.mobile-limit-image {
  @include media-breakpoint-down(lg) {
    max-height: 200px;
  }
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.container {
  padding: 30px;
}

.serif {
  font-family: $font-family-serif;
}

h4 {
  font-size: 1.4em;
}

.large-link {
  @extend .serif;
  font-size: 1.6em;
  color: black;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid black;
  &:hover {
    border-bottom: 2px solid $link-hover-color;
  }
}

.hero {
  @extend .rounded-3;
  @extend .p-3;
}

.two-columns {
  @include media-breakpoint-up(lg) {
    column-count: 2;
  }
}

.three-columns {
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

h6 {
  font-weight: bold;
}

.works-cited {
  a {
    display: block;
  }
}