{% extends "base.html" %}
{% set active_page = "advisory" %}

{% block title %}Multimedia{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Multimedia</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/MYGOtGU7UO4" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height">
                <p class="mb-0">The Multimedia teams designed and developed business sustainability content for the website. They
                    researched business sustainability challenges and business ideas and created videos and/or articles
                    to present their projects.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body larger-line-height two-columns">
                <h3 class="card-title">Multimedia Team Student Feedback</h3>
                <p>"With the B4BW project, it was great to research topics that we are interested in. I thought it was
                    even better than we were pushed to try to find solutions and ways to think outside of the box."</p>
                <p>"Especially after hearing the perspectives of the homeless people we interviewed, we were all given a
                    new perspective on this issue and the necessity to find a more permanent resolution than what
                    exists. We hope to shed light on this pressing issue within our communities and now have a deeper,
                    more personal connection to it."</p>
                <p class="mb-lg-0">"What l enjoyed about our project was that our interviewees were so passionate. This project proved
                    to me how many people care about our planet and want to help our world become a better place."</p>
                <p>"This was one of my first professional interviews I had ever conducted, so it was a cool experience
                    being able to do that. I really enjoyed getting into the interview and asking some real questions. I
                    found that people are more than willing to talk about their work to offer someone else some insight
                    into what they do."</p>
                <p>"I learned a lot about video editing and how difficult it was. I am proud because I know I tried
                    something new and put hours of work into it and was able to do it."</p>
                <p class="mb-0">"This project forced me to do something I had never done, which was edit a video. This process,
                    although tedious to learn, ended up being a great addition to my arsenal. Our TA did a great job
                    helping us define what a video needs in order to be a good video, and I will take that lesson with
                    me everywhere now."</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}