{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Bias in the News{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>Is Your News Feed a Healthy One?</h1>
            <p>[Need to insert interview. It was not provided on Canvas.]</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Follow Up</h5>
                    <p>Keeping in mind what our expert had to say in the interview, we have compiled a few different
                        ways to keep your news feed in check:</p>

                    <h5>Sourcing</h5>
                    <p>Knowing how the information was sourced can be a good indicator on the quality of the news being
                        reported. Our expert suggests that information could be more credible from a named source rather
                        than an anonymous source. It seems to be the case that people ask for anonymity when they want
                        to insult or smear someone, rather than making a statement and backing it with your name. When
                        you are reading news about COVID-19 the information should be sourced from an expert in that
                        field. </p>

                    <h5>Authenticity</h5>
                    <p>Another way to judge the quality of the piece is through the authenticity of the reporter,
                        subject, or expert. Is the piece backed by someone who has a history of cherry-picking evidence
                        to support a certain narrative, or someone who has a history of reporting all of the facts in
                        the story? Keeping in mind this potential bias is an important way you can keep your news feed
                        in check.</p>

                    <h5>Understand the Target Market</h5>
                    <p>
                        Understanding the target market for the media source. It is beneficial to listen or read many
                        news sources, but it is important to understand that each source might tend to lean in a certain
                        way. Knowing that Fox news might likely lean toward a conservative narrative, or that CNN could
                        often lean toward a liberal narrative is a good way to listen to multiple versions of the same
                        story in order to get all of the facts.
                    </p>

                    <h5>Takeaway</h5>
                    <p>The odds of getting completely unbiased news pieces are slim to none. Thankfully, using the above
                        tips you can help keep your news feed as healthy as possible. Remember to check how the
                        information was sourced, the authenticity of the reporter or expert, and understanding a news
                        sources possible bias.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
