{% extends "base.html" %}
{% set active_page = "about" %} {# CHANGE THIS #}

{% block title %}About{% endblock title %} {# CHANGE THIS #}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>About</h2> {# CHANGE THIS #}
            <p>This is the about page.</p> {# CHANGE THIS #}
        </div>
    </div>
{% endblock body %}

{# REMOVE THIS BLOCK IF YOU DON'T NEED JAVASCRIPT #}
{% block scripts %}
<script nonce="{{ csp_nonce() }}">
    console.log("javascript");
</script>
{% endblock scripts %}