{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Health Foods{% endblock title %} {# CHANGE THIS #}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Health Foods</h2>
            <p>This is the Health Foods page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="500" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card" sytle="width: 18rem;">
                <img src="..." class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Sample card text</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card" sytle="width: 18rem;">
                <img src="..." class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Sample card text</p>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock body %}