{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Social{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Social</h2>
            <p>This is the social page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group">
                <a href="{{ url_for('social.health_foods') }}" class="list-group-item list-group-item-action">Health Foods</a>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
<script nonce="{{ csp_nonce() }}">
    console.log("javascript");
</script>
{% endblock scripts %}