{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Social{% endblock title %}

{% block body %}
<div class="row mb-3">
    <div class="col-12">
        <h1>Social Sustainability</h1>
        <p class="lead">The projects on this page highlight social sustainability challenges and solutions. From
            treating employees like whole humans to investing in community development, there are numerous ways
            organizations can promote social sustainability.</p>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Health Foods" />
            <div class="card-body">
                <p>In many communities, healthy foods are more expensive than unhealthy foods. Our project
                    highlights
                    the business challenge of making healthy foods affordable and accessible to all our
                    communities.</p>
                <a class="btn btn-success" href="{{ url_for('projects.health_foods') }}">Healthy Food &
                    Discrimination</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1505751172876-fa1923c5c528?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Normalizing Health" />
            <div class="card-body">
                <p>This video covers the debilitating effects that obesity has on the body (both mentally and
                    physically) and the reality that it also takes a negative toll on the economy and society.</p>
                <br class="d-none d-lg-block" />
                <a class="btn btn-success" href="{{ url_for('projects.normalizing_health') }}">Normalizing
                    Health</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1621252179027-94459d278660?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Worksite Wellness" />
            <div class="card-body">
                <p>Poor health and well-being negatively impact work productivity. To learn about the historical
                    trends and future of worksite wellness, our team interviewed a worksite wellness expert, Dr. Bob
                    Lefavi.</p>
                <a class="btn btn-success" href="{{ url_for('projects.worksite_wellness') }}">Worksite Wellness</a>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1633265486064-086b219458ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Information Privacy" />
            <div class="card-body">
                <p>Our project focuses on how company and consumer information are commonly leaked or breached. We
                    discuss major data breaches and how they can impact a company's trustworthiness and
                    reputation.</p>
                <br class="d-none d-lg-block" />
                <a class="btn btn-success" href="{{ url_for('projects.information_privacy') }}">Cybersecurity & Data
                    Breaches</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1620714223084-8fcacc6dfd8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                alt="Scamming" />
            <div class="card-body">
                <p>Our video explains unconventional methods of online scamming targeted towards younger generations,
                    focusing on Venmo, Facebook Marketplace, and Craigslist scams, and how users can protect themselves.
                </p>
                <a class="btn btn-success" href="{{ url_for('projects.online_scamming') }}">Online Scamming</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1548365328-8c6db3220e4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Cookies" class="card-img-top">
            <div class="card-body">
                <p>Our video discusses challenges and strategies to protect against vulnerabilities associated with
                    browser cookies, small text files that collect and store data unique to each user and the user's
                    device.</p>
                <br class="d-none d-lg-block" />
                <a href="{{ url_for('projects.cookies') }}" class="btn btn-success">Browser Cookies & Privacy</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1503542724004-53e16040c0c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=690&h=460&q=80"
                alt="Bias in the News" />
            <div class="card-body">
                <p>The odds of getting completely unbiased news pieces are low. To learn how to better combat bias
                    in the news we consume, our team interviewed Jake Sherlock, a journalism and media expert at
                    CSU.</p>
                <a class="btn btn-success" href="{{ url_for('projects.bias_in_the_news') }}">Bias in the News</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
        <div class="card">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1534330207526-8e81f10ec6fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Social Isolation" />
            <div class="card-body">
                <p>To provide a closer look at something many have faced during the COVID-19 pandemic, we
                    interviewed a renowned professor at Colorado State University, Dr. Jennifer Harman, about social
                    isolation.</p>
                <a class="btn btn-success" href="{{ url_for('projects.social_isolation') }}">Social Isolation</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}