{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Normalizing Health{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <h1>Normalizing Health</h1>
            <p>Welcome to the Normalizing Health page.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/vD0w_gOEbUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p>
                        This video portrays the harsh, unknown truths regarding the realties of living an obese lifestyle. 
                        Not only does this video portray the debilitating effects that obesity has on the body (both mentally and physically), 
                        it also uncovers the reality that obesity does not just affect a person’s body, it also takes a negative toll on the economy 
                        as well as society. Throughout this video, viewers are bombarded with facts from scholarly sources that aid in the explanation 
                        of why obesity is becoming such a prevalent issue within today’s society. From The World Health Organization to the Pakistan 
                        Journal of Medical Science, these scholarly sources are proved to have accurate facts that aid in providing the jarring truths 
                        of living an obese lifestyle. There have been many surveys that show how obese individuals feel about their situation and how 
                        they would prefer to be a healthy weight and poor than obese and a multimillionare. Additionally, obese business people are 
                        faced with discrimination and prejudice in the work plae. 
                        This reality can be disheartening for the future of business for a better world. 
                    </p>

                    <p>
                        However, this video is not only to inform viewers about the harm obesity brings to both the human body 
                        and the environment, this video also provides solutions (including existing solutions). 
                        For example, a solution shown within the video is how Google is implementing certain regulations to provide 
                        their employees with a less stressful work environment.
                    </p>

                    <p>
                        Overall, this video was created in order to preach to viewers that although obesity is a rising epidemic 
                        within today’s society, it is preventable and/or not a terminal disease. Through gaining education and 
                        knowledge on not only how to prevent obesity, but how to overcome obesity as well, the decrease in obesity 
                        rates within today’s society are sure to come!
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <h3 class = "card-title">Works Cited</h3>
                    <p>Kim, Ji-Yeong. “The Impacts of Obesity on Psychological Well-Being: A Cross-Sectional Study about 
                        Depressive Mood and Quality of Life.” Journal of Preventive Medicine and Public Health, 
                        The Korean Society for Preventive Medicine,
                        <a href="https://www.koreascience.or.kr/article/JAKO200727500194312.page">
                            https://www.koreascience.or.kr/article/JAKO200727500194312.page
                        </a>
                        . 
                    </p>
                    <p>
                        “Obesity and Overweight.” World Health Organization, World Health Organization, 2018, 
                         
                        <a href="https://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight">
                            https://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight
                        </a>
                        .
                    </p>
                    <p>
                        Pronk, Nicolaas P., and Thomas E. Kottke. “Physical Activity Promotion as a Strategic Corporate Priority to 
                        Improve Worker Health and Business Performance.” Preventive Medicine, Academic Press, 6 July 2009, 
                        <a href="https://www.sciencedirect.com/science/article/pii/S0091743509003296">
                            https://www.sciencedirect.com/science/article/pii/S0091743509003296
                        </a>. 
                    </p>
                    <p>
                        Walker, Abe. “'Creativity Loves Constraints': The Paradox of Google's Twenty Percent Time.” 
                        Ephemera, 29 May 2014, <a href="https://www.academia.edu/2668994/_Creativity_loves_constraints_The_paradox_of_Google_s_twenty_percent_time">
                            https://www.academia.edu/2668994/_Creativity_loves_constraints_The_paradox_of_Google_s_twenty_percent_time
                        </a>. 
                    </p>
                    <p>
                        Wellman, Nancy S. Causes and Consequences of Adult Obesity: Health, Social and Economic Impacts in the United States. 
                        <a href="https://apjcn.nhri.org.tw/server/APJCN/11/s7/S705.pdf">https://apjcn.nhri.org.tw/server/APJCN/11/s7/S705.pdf</a>. 
                    </p>
                    <p>
                        “What Causes Obesity & Overweight?” Eunice Kennedy Shriver National Institute of Child Health and Human Development, 
                        U.S. Department of Health and Human Services, 28 July 21AD, <a href="https://www.nichd.nih.gov/health/topics/obesity/conditioninfo/cause">
                            https://www.nichd.nih.gov/health/topics/obesity/conditioninfo/cause
                        </a>. 
                    </p>
                </div>
            </div>
        </div>
    </div>

   
{% endblock body %}
