{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Scamming{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Scamming</h1>
            <p class="lead">For our class project we ended up creating a fun informational video about the unconventional methods of scamming targeted towards younger generations.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/6OboNxDYuoY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
{% endblock body %}