{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Social Isolation{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Social Isolation</h1>
            <p class="lead">In an effort to provide a closer look at something we all have faced during the COVID
                pandemic, we interviewed a renowned professor of Colorado State University, Dr. Jennifer Harmon.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/IjanyK92B-A"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
{% endblock body %}

