{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Worksite Wellness{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Worksite Wellness with Dr. Bob Lefavi</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/WuW-iwyKfk4"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p>Poor health and well-being have negative effects on work productivity. It makes sense for
                        businesses to promote
                        employee health, as this would benefit the entire business, from the employees themselves to the
                        customers. In a
                        study about nurses' physical and mental health, it was found that over half of the nurses
                        reported suboptimal
                        health. Compared to the nurses who reported better health, nurses reporting poorer health also
                        had higher rates of
                        medical errors. The health and well-being of employees in the workplace have real impacts and
                        should be a high
                        priority for all organizations.
                    </p>
                    <p>However, sometimes it's the workplace that is the source of health problems. Bullying, low social
                        support at work,
                        organizational injustice, and effort-reward imbalance are just a few of many job stressors that
                        influence employee
                        health. Exposure to these job stressors predicts elevated risks for poor health behaviors as
                        well as chronic
                        illnesses like cardiovascular disease. Reducing and preventing as much exposure to job stressors
                        as well as
                        improving the psychosocial quality of work (relating to the interrelation of social factors and
                        individual thought
                        and behavior) could prevent a substantial amount of common mental health problems. Offering the
                        necessities like
                        health care and employee assistance programs to help those who may be afraid to reach out to
                        their employer or any
                        peer is a great start to improving worksite mental health.
                    </p>
                    <p>One major issue is that a vast majority of workers struggling with mental health and depression
                        do not use
                        mental health services. Physical health is highly correlated with mental health, and a recent
                        study suggests that
                        physical activity has a strong impact on improving mental health. Despite this, only about 25
                        percent of the U.S.
                        adult population meets the federal guidelines for physical activity. The percent is lower for
                        individuals who are
                        minorities or from lower income households. This leaves organizations trying to manage a large
                        pool of unhealthy
                        employees. Worksite wellness programs have the potential to improve employee health, medical
                        costs, and
                        presenteeism, but so far, the evidence is not clear that worksite wellness programs are worth
                        the investment.
                    </p>
                    <p>To better understand the historical trends and future outlook of worksite wellness programs, our
                        team interviewed a
                        worksite wellness expert, Dr. Bob Lefavi, who has been in the field of health promotion since
                        the 1980s. Dr. Lefavi
                        is a professor and founding dean of the University of South Carolina's Beaufort campus. His
                        first job was the
                        development of a hospital-based worksite wellness program, and he continued to consult for other
                        businesses, such as
                        Delta Air Lines, interested in wellness and health promotion programs. In the interview with Dr.
                        Lefavi, our team
                        learned that the challenges with worksite wellness are multifold, to include the importance of
                        top management and
                        leadership to show support and vulnerability to employees to remove the stigma from having
                        health issues. Overall,
                        there are many challenges to overcome to achieve worksite wellness, and we can start by
                        improving our understanding
                        of the issues. We hope you learn as much from the interview with Dr. Lefavi as we did.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Reference</h3>
                    <p>Dewa, C. S., & Hoch, J. S. (2015). Barriers to mental health service use among workers with
                        depression and work productivity. <i>Journal of Occupational and Environmental Medicine</i>, 57(7),
                        726-731.
                    </p>
                    <p>
                        LaMontagne, A. D., Martin, A., Page, K. M., Reavley, N. J., Noblet, A. J., Milner, A. J., ... &
                        Smith, P. M. (2014). Workplace mental health: developing an integrated intervention approach.
                        BMC
                        <i>Psychiatry</i>, 14(1), 1-11.
                    <p>
                        Melnyk, B. M., Orsolini, L., Tan, A., Arslanian-Engoren, C., Melkus, G. D. E., Dunbar-Jacob, J.,
                        ... & Lewis, L. M. (2018). A national study links nurses' physical and mental health to medical
                        errors and perceived worksite wellness. <i>Journal of Occupational and Environmental
                        Medicine</i>,
                        60(2), 126-131.
                    <p>
                        Ohrnberger, J., Fichera, E., & Sutton, M. (2017). The relationship between physical and
                        mental health: A mediation analysis. <i>Social Science & Medicine</i>, 195, 42-49.
                    </p>
                    <p>
                        Schwatka, N. V., Smith, D., Weitzenkamp, D., Atherly, A., Dally, M. J., Brockbank, C. V.,
                        ... & Newman, L. S. (2018). The impact of worksite wellness programs by size of business: A
                        3-year longitudinal study of participation, health benefits, absenteeism, and presenteeism.
                        <i>Annals of Work Exposures and Health</i>, 62(Supplement_1), S42-S54.
                    </p>
                    <p>
                        Watson, K. B., Whitfield, G., Chen, T. J., Hyde, E. T., & Omura, J. D. (2021). Trends in
                        Aerobic and Muscle-Strengthening Physical Activity by Race/Ethnicity Across Income Levels
                        Among US Adults, 1998-2018. <i>Journal of Physical Activity and Health</i>, 18(S1), S45-S52.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}