{% extends "base.html" %}
{% set active_page = "mission" %}

{% block title %}About{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12 col-lg-5 mb-3">
            <img src="https://images.unsplash.com/photo-1495814994547-3c7b11eb9938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                 alt="temporary image"
                 class="img-fluid mobile-limit-image" />
        </div>
        <div class="col-12 offset-lg-1 col-lg-6 d-flex flex-column">
            <h1 class="mb-4">CIS-200 Business Rams</h1>
            <h4 class="mb-3">Business for a Better World</h4>

            <h5 class="my-3">History</h5>
            <p class="lead">
                Emboldened to not only <span class="fw-bold fst-italic">learn about</span> harnessing business for a
                better world, Colorado State University
                students in CIS200 decided to <span class="fw-bold fst-italic">actively engage</span> in projects that
                better the world.
            </p>
            <p class="lead">
                During Fall 2021,
                CIS200 students imagined, designed, and built this website to showcase student-driven projects that
                highlight business sustainability challenges and solutions. Students agreed that we’re living in a time
                when fact-based information can be hard to come by, so they prioritized the presentation of
                evidence-based content on this website, implementing peer review and vetting peer-reviewed sources.
            </p>
            <p class="lead">
                Furthermore, by engaging in the process of designing and constructing this website, students were able
                to gain hands-on experience with the Systems Development Life Cycle (SDLC), including Scrum, an agile
                methodology.
            </p>
            <span class="mt-auto mb-3">
                <a class="large-link" href="#">View our Work &LongRightArrow;</a>
            </span>
        </div>
    </div>
{% endblock body %}

