{% extends "base.html" %}
{% set active_page = "about" %}

{% block title %}About{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-5 mb-3 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1495814994547-3c7b11eb9938?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                 alt="temporary image"
                 class="img-fluid mobile-limit-image"/>
        </div>
        <div class="col-12 ps-lg-4 col-lg-7 d-flex flex-column">
            <h1 class="mb-4">BizRams Building a Better World​</h1>
            <h4 class="mb-3">Information is Power.</h4>

            <p class="lead">
                Emboldened to not only <span class="fw-bold fst-italic">learn about</span> harnessing business for a
                better world, Colorado State University
                students in two sections of CIS200 Business Information Systems decided to <span
                    class="fw-bold fst-italic">actively engage</span> in projects that
                better the world.
            </p>
            <p class="lead">
                During Fall 2021,
                CIS200 students imagined, designed, and built this website to showcase student-driven projects that
                highlight business sustainability challenges and solutions. Students agreed that we’re living in a time
                when fact-based information can be hard to come by, so they prioritized the presentation of
                evidence-based content on this website, consulting peer-reviewed sources and collecting primary data
                through surveys and interviews with experts.
            </p>
            <p class="lead">
                Furthermore, by engaging in the process of designing and constructing this website, students were able
                to gain hands-on experience with the Systems Development Life Cycle (SDLC), including Scrum, an agile
                framework.
            </p>
            <p class="lead">
                View student projects by selecting the business sustainability areas of interest (economic, environmental, and social) in the top navigation. Be sure to learn more about the student teams and what they gained from this project experience by visiting
                <a href="{{ url_for('advisory.index') }}">Meet the Teams</a>.
            </p>
            <span class="mt-auto">
                <a class="large-link" href="{{ url_for('about.projects') }}">View Featured Projects &LongRightArrow;</a>
            </span>
        </div>
    </div>
{% endblock body %}

