{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Affordable Housing{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Affordable Housing</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/bWL3x7c7L3k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>
                    The overarching business problem we are addressing is the perception of profitability when
                    constructing affordable housing. Globally, three billion people—or forty percent of the world’s
                    population—will need access to affordable housing by the year 2030. Housing is a necessity for
                    humans, helping to fulfill the basic physical and psychological needs for safety. Without stable
                    housing, people often experience instability, adverse health effects, lower levels of education,
                    higher levels of debt, minimal savings, and no retirement other than through government programs.
                    Aside from the costs to human welfare, these consequences lead to negative impacts on the economy
                    overall.
                </p>

                <p>
                    Home ownership is one of the simplest and easiest ways for a person to build wealth. Purchasing real
                    estate is usually less risky than investing in stocks and, conservatively speaking, a home has a
                    forced appreciation rate of two percent annually. Unfortunately, home ownership is something that
                    has slipped away from many people because of discriminatory practices, stagnant wages, and market
                    inflation. With limited supply and great demand, housing prices and rents have increased
                    substantially, often pricing low-income families out of the market.
                </p>

                <p>
                    The City of Fort Collins Housing Strategic Plan elaborates on the housing deficit, reporting that,
                    as of 2019, persons earning less than 80 percent of the area median income—or, roughly, less than
                    $56,000 annually—faced rental unit shortages. Similarly, with home buying, persons earning up to 150
                    percent of the area media income (roughly $105,000 in 2019 in Fort Collins) faced a housing deficit
                    of 17 percent. In 2021, only roughly 1 in 10 renters could afford the median home price in Fort
                    Collins. In Colorado, more than 54,000 new housing units would need to be developed annually for the
                    next five years to close the housing gap.
                </p>
                <p>There is no easy “silver bullet” solution. Many of the barriers to affordable housing are discussed
                    in the video. Affordable housing is a complex issue that has many working parts. However, making
                    affordable housing construction appealing to developers and showing that it can be done profitably
                    is one solution.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">References</h3>
                <p>Adabre, M. A., & Chan, A. P. (2019). Critical success factors (CSFs) for sustainable affordable
                    housing. Building and Environment, 156, 203-214.
                </p>
                <p>Adabre, M. A., & Chan, A. P. (2019). The ends required to justify the means for sustainable
                    affordable housing: A review on critical success criteria. Sustainable development, 27(4), 781-794.
                </p>
                <p>City of Fort Collins Housing Strategic Plan. (2021).
                    <a
                        href="https://www.fcgov.com/housing/files/20-22913-housing-strategic-plan-no-appendices.pdf?1618855189">https://www.fcgov.com/housing/files/20-22913-housing-strategic-plan-no-appendices.pdf?1618855189</a>
                </p>
                <p>Fort Collins Housing Affordability Policy Study. (2014).
                    <a
                        href="https://www.fcgov.com/sustainability/pdf/HAPSFinalReport.pdf">https://www.fcgov.com/sustainability/pdf/HAPSFinalReport.pdf</a>
                </p>
                <p>Howell, A., Currans, K. M., Gehrke, S., Norton, G., & Clifton, K. J. (2018). Transportation impacts
                    of affordable housing. Journal of Transport and Land Use, 11(1), 103-118.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}