{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Affordable Housing{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Affordable Housing</h2> 
            <p>This is the Affordable Housing page.</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/0Flsg_mzG-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h3>Short Text</h3> 
            <p>There should be filler text here.</p> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h3>Sources</h3> 
            <p>Put some sources here.</p> 
        </div>
    </div>
{% endblock body %}

