{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Ecosurf Company Pitch{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Ecosurf Company Pitch</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/1NUx8conOms"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body three-columns larger-line-height">
                    <h5 class="card-title">Solo Project Overview</h5>
                    <p>The bulk of my work for the project went into planning the content I wanted to cover. Going in I
                        wanted to do an original business pitch because I haven't done a project like that yet through
                        college, and it incorporates many aspects of the classes I've taken. However, I've seen many
                        projects like this, and I wanted to make mine different. Many business pitch projects focus on
                        values and core ideas and completely skip the logistics of a business; I wanted to cover both.
                        In brainstorming this every week since I got the greenlight, I would take notes on new business
                        concepts I learn about in my classes and tie them into the project. From weeks of doing this, I
                        had ideas on how to structure a new business from the perspective of finance, supply chain
                        management, management, and marketing. I also had to learn about surfboards to make an idea of a
                        green surfboard and what materials I would use. I had to look at every material and research
                        eco-friendly alternatives, as well as ideas on how to acquire them. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height">
                    <h5 class="card-title">Business Problem</h5>
                    <p class="mb-0">The problem with industry that I’m trying to solve is that soft-top surfboards are made from
                        synthetic, harmful materials, and they only last a couple of years. Alternatives require
                        sourcing from trees, and this presents a different environmental problem.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height">
                    <h5 class="card-title">
                        Proposed Business Solution
                    </h5>
                    <p class="mb-0">I’m proposing a new company, Ecosurf, that will produce and sell sustainable soft-top surfboards
                        that will still incorporate top-of-the-line materials while being sustainably made.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body larger-line-height">
                    <h5 class="card-title">Custom Business Logo</h5>
                    <img class="img-thumbnail float-start me-2"
                         src="{{ url_for('static', filename='images/ecosurf-logo.png') }}" alt="Ecosurf logo">
                    <p>Using Adobe Photoshop, I created a business logo for the company I’m proposing. The inspiration
                        was a recycling sign incorporating ocean waves.​</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
