{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Homelessness in Colorado{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Homelessness in Colorado</h2> 
            <p>This is the Homelessness in Colorado page.</p> 
        </div>
    </div>
    <div> class="row"
        <div class="col-12 mb-3">
            <iframe width="100%" height="420%" src=<iframe width="560" height="315" src="https://www.youtube.com/embed/cZn0sC_Br_k" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
        <div>
        <div class="col-12 col-lg-6 mb-3">
            <h3>Article</h3>
            <p>the article will go here</p>
        <div>
        <div class="col-12 col-lg-6"
        <h3>Works Cited</h3>
        <p>This is where the works cited will go</p>
    <div>
<div>

{% endblock body %}
a
