{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Homelessness in Colorado{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Homelessness in Colorado</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/bWL3x7c7L3k" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class = "card-title">Why businesses should engage in combating homelessness</h3>
                    <p class="col-12 mb-5 larger-line-height three-columns">The most obvious reason that businesses should engage in combating homelessness is the
                        ethical outcome that business can provide. Large organizations dominate cities, specifically the
                        stores and services that line the streets. For businesses, these locations are strategic in their
                        mission to reach the most people, but for the homeless communities of the cities, these places
                        can provide life changing services. This is the case for one story presented in an article from
                        Micheal Hobbes. A girl with a medical condition was saved from public humiliation and
                        degradation by being allowed to use bathrooms within these streetside stores. Lisa Michaud, the
                        owner of Two Big Blondes clothing store articulates, “We know it’s not the same thing as solving
                        homelessness, but it’s important to us to get to know our homeless neighbors and offer them
                        whatever we can”. Implementing or changing small policies such as allowing public access to
                        bathrooms or providing free products can make a huge difference in the lives of people
                        experiencing the homeless crisis. From large gestures to the smallest signs of compassion,
                        businesses have a unique ability to change the lives of the less fortunate people in their area.
                        </p>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class = "card-title">Why businesses would benefit from combating the problem of homelessness within their city</h3>
                    <p class="col-12 mb-5 larger-line-height three-columns">Beyond the ethics of serving the homeless, there are a variety of benefits towards the
                    business themselves which offers an incentive for businesses to actively engage in incorporating
                    philanthropic work into their business plan. The incentives that this source presents are: being
                    able to benefit the community they are located in for higher morale, customer satisfaction, and
                    overall image of the corporation, receiving a tax reduction for donations, and providing pride for
                    the company through its philanthropic work. Homelessness is a relatively easy problem that
                    businesses can address because of how many existing resources there are to donate to aand the
                    resources businesses have, such as streetside access to bathrooms. A journal titled The Business
                    Case for Ending Homelessness, Daniel G. Garrett describes the proven benefits of donating to
                    the building of housing. This is a long-term solution as it provides stability that allows previously
                    homeless people to focus their efforts on finding employment, battling addiction, mental illness,
                    and physical health. Garrett writes, “If we all—healthcare leaders, businesses, agencies, schools,
                    faith groups, and neighbors—join together, we will see the experience of homelessness in our
                    communities change for everyone”. Businesses have the ability to bring us together and help
                    those who need it, and when the incentives are in their favor it is hard to find a reason not to do it</p>
        </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h3 class = "card-title">How businesses can integrate combating homelessness into their business plan</h3>
                    <p class="col-12 mb-5 larger-line-height three-columns">Implementing the tool of strategic management into business plans allows for plans on
                        how to allocate resources and money more efficiently, specifically to address the problem of
                        homelessness in urban areas. Strategic management involves the process of setting goals and
                        objectives for the ultimate goal of providing a competitive edge to businesses. In the past this
                        management was mainly targeting the public sector to help homelessness, however now it seems
                        important to focus on the business sector and allowing them to find ways to help homelessness in
                        their area. This allows for incentives talked about above to be paired with incentives from the
                        government.
                        </p>
        </div>
    </div>
    </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-body">
                    <h3 class = "card-title">Sources</h3>
                    <a href="https://www.huffpost.com/entry/businesses-help-homeless-crisis_n_5d71829ae4b0fd4168e7d14e">
                        https://www.huffpost.com/entry/businesses-help-homeless-crisis_n_5d71829ae4b0fd4168e7d14e
                    </a>
                    <a href="http://www.petsofthehomeless.org/why-businesses-should-help-the-homeless-and-pets-this-winter/">
                        http://www.petsofthehomeless.org/why-businesses-should-help-the-homeless-and-pets-this-winter/
                    </a>
                    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4046466/">
                        https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4046466/
                    </a>
                    <a href="https://www.jstor.org/stable/4354974">
                        https://www.jstor.org/stable/4354974
                    </a>
                    <a href="https://www.bizjournals.com/denver/news/2020/01/23/denver-ceos-homelessness-ideas.html">
                        https://www.bizjournals.com/denver/news/2020/01/23/denver-ceos-homelessness-ideas.html
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
