{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Economic{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="mb-3">Economic Issues</h1>
            <p class="lead">The effects of our economic system can be felt throughout our society.
                CIS 200 students have put together the following projects analyzing how business might address economic
                problems people are facing.</p>
        </div>
    </div>
    <div class="row mb-lg-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1616482789264-4d40fc690a61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673&h=900&q=80"
                     alt="Wells Fargo Scandal"/>
                <div class="card-body">
                    <a class="btn btn-success" href="{{ url_for('economic.wells_fargo_scandal') }}">Wells Fargo
                        Scandal</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1526168637801-e9f490d6bc04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1673&h=900&q=80"
                     alt="Homelessness in Colorado"/>
                <div class="card-body">
                    <p>The most obvious reason that businesses should engage in combating homelessness is the ethical
                        outcome
                        that business can provide. Large organizations dominate cities, specifically the stores and
                        services that line the streets.
                        For businesses, these locations are strategic in their mission to reach the most people,
                        but for the homeless communities of the cities, these places can provide life changing
                        services.</p>
                    <a class="btn btn-success" href="{{ url_for('economic.homelessness_in_colorado') }}">Homelessness in
                        Colorado</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1618914240221-2fa78110c0c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                     alt="Money Laundering"/>
                <div class="card-body">
                    <p>Money laundering is the concealment of the origins of illegally obtained money, typically by
                        means of transfers involving foreign banks or legitimate businesses.</p>
                    <a class="btn btn-success" href="{{ url_for('economic.forensicact_moneylaundering') }}">Money
                        Laundering</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1614494175611-005ace30bfd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&h=1380&q=80"
                     alt="Affordable Housing"/>
                <div class="card-body">
                    <p>Affordable housing in Colorado that Odell is working on. Impact of affordable housing being given to families that need it.</p>
                    <a class="btn btn-success" href="{{ url_for('economic.affordable_housing') }}">Affordable
                        Housing</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card">
                <img src="https://i.imgur.com/ZhPqSpV.png" alt="Ecosurf Thumbnail" class="card-img-top">
                <div class="card-body">
                    <a href="{{ url_for('economic.ecosurf') }}" class="btn btn-success">Ecosurf Company Pitch</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
                     alt="Healthy Food"/>
                <div class="card-body">
                    <p>Insert Info on Food and Discrimination</p>
                    <a class="btn btn-success" href="{{ url_for('economic.healthyfood_discrimination') }}">Healthy Food and Discrimination</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
