{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Economic{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <h1 class="mb-3">Economic Sustainability</h1>
            <p class="lead">The projects on this page highlight economic sustainability challenges and solutions. Businesses should engage in ethical practices that support their economic growth without negatively impacting other areas of sustainability. </p>
        </div>
    </div>
    <div class="row mb-lg-3">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1526168637801-e9f490d6bc04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1670&h=900&q=80"
                     alt="Homelessness in Colorado"/>
                <div class="card-body">
                    <p>Businesses have a unique ability to change the lives of the less fortunate people in their area. To learn more about homelessness in Colorado, our team interviewed unhoused individuals in Fort Collins.</p>
                    <a class="btn btn-success" href="{{ url_for('projects.homelessness_in_colorado') }}">Homelessness in Colorado</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1614494175611-005ace30bfd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&h=1200&q=80"
                     alt="Affordable Housing"/>
                <div class="card-body">
                    <p>Housing is a necessity for humans, helping to fulfill the basic need for safety. However, housing prices and rents have increased substantially, often pricing low-income families out of the market. </p>
                    <a class="btn btn-success" href="{{ url_for('projects.affordable_housing') }}">Affordable Housing</a>
                </div>
            </div>
        </div>  
        <div class="col-12 col-lg-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&h=1200&q=80"
                     alt="Healthy Food"/>
                <div class="card-body">
                    <p>In many communities, healthy foods are more expensive than unhealthy foods. Our project highlights the business challenge of making healthy foods affordable and accessible to all our communities.</p>
                    <a class="btn btn-success" href="{{ url_for('projects.health_foods') }}">Healthy Food & Discrimination</a>
                </div>
            </div>
        </div>            
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1618914240221-2fa78110c0c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&h=1200&q=80"
                     alt="Money Laundering"/>
                <div class="card-body">
                    <p>Online identity theft can lead to your banking accounts being used for money laundering. Our team interviewed a victim of this online fraud, a U.S. Marine Corps Major who lost thousands of dollars.</p>
                    <a class="btn btn-success" href="{{ url_for('projects.identity_theft_money_laundering') }}">ID Theft & Money
                        Laundering</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1616482789264-4d40fc690a61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&h=1200&q=80"
                     alt="Wells Fargo Scandal"/>
                <div class="card-body">
                    <p>In 2013, it was revealed that Wells Fargo employees had been engaged in a cross-selling scandal. Employees were fired for opening accounts with debit or credit cards without the customers' knowledge.</p>
                    <a class="btn btn-success" href="{{ url_for('projects.wells_fargo_scandal') }}">Wells Fargo Scandal</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img src="{{ url_for('static', filename='images/ecosurf-thumbnail.png') }}" alt="Ecosurf Thumbnail" class="card-img-top">
                <div class="card-body">
                    <p>This solo project by Dylan Toohey proposes a new business idea for a company that produces and sells sustainable soft-top surfboards. His logo design combines ocean waves with a recycling sign.</p>
                    <a href="{{ url_for('projects.ecosurf') }}" class="btn btn-success">Ecosurf Company Pitch</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
