{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Cookies and Privacy{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Browser Cookies and Privacy</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/e9YpMzaXvFA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>Have you noticed that every time you click on a web page, a little popup appears asking you to
                    consent to cookies? Our team was curious about browser cookie policies and how they impact users'
                    information privacy, so we decided to research this topic.</p>
                <p>Browser cookies are small text files that collect and store data unique to each user and the user's
                    device. Cookies are the reason your browser can remember what you had in your online shopping cart,
                    your login for different sites, and previously watched videos, as examples. In this sense, browser
                    cookies are intended to enhance users' browsing experience. </p>
                <p>While browser cookies aren't inherently dangerous, there are legal "gray areas" when it comes to how
                    browser cookie policies are regulated. There is the potential for fraud and privacy violations,
                    especially when users' browsers are not secured and up-to-date.</p>
                <p>Our video discusses these challenges and strategies to improve protection against vulnerabilities
                    associated with browser cookies.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5>References</h5>
                <p>Common Scams on Venmo. (n.d.). Retrieved from <a
                        href="https://help.venmo.com/hc/en-us/articles/360048404533-Common-Scams-on-Venmo">https://help.venmo.com/hc/en-us/articles/360048404533-Common-Scams-on-Venmo</a>.
                </p>
                <p>Garg, V., & Nilizadeh, S. (2013, May). Craigslist scams and community composition: Investigating
                    online fraud victimization. In <i>2013 IEEE Security and Privacy Workshops</i> (pp. 123-126).</p>
                <p>Stojnic, T., Vatsalan, D., & Arachchilage, N. A. (2021). Phishing email strategies: Understanding
                    cybercriminals' strategies of crafting phishing emails. <i>Security and Privacy, 4</i>(5), e165.</p>
                <p>Wash, R. (2020). How experts detect phishing scam emails. <i>Proceedings of the ACM on Human-Computer
                        Interaction, 4</i>(CSCW2), 1-28.</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}