{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}CSU Sustainability{% endblock title %}

{% block body %}

<div class="row">
    <div class="col-12 mb-3">
        <h1>CSU Sustainability Initiative</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="420" src="https://www.youtube.com/embed/59h39fJFkWs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>The standard definition of sustainability is meeting our current needs without compromising
                    future generations' needs. With global warming on the rise, humans collectively are not being
                    sustainable.</p>

                <p>In our project, we specifically look at universities' impact. Universities are
                    small cities. For example, CSU has 30,000 students, which is larger than over 17,000 U.S. towns.
                    An average college student accounts for 640 pounds of trash a year. Therefore, colleges have a
                    major impact on the environment around them.</p>

                <p>Another factor about universities to consider is that college students are the next people up in
                    society. In a few years, these students will be
                    the ones making decisions that affect future generations. Therefore, after being educated on the
                    problem, these future business professionals will be better equipped to make decisions that will
                    help the
                    world instead of unintentionally destroying it due to ignorance.</p>

                <p>Other universities can look to CSU as a resource when striving to become more sustainable. Colorado
                    State University is one of the most sustainable higher education institutions in the world and was
                    the
                    first to receive a "platinum" rating by STARS, or the Sustainability Tracking and Rating System.
                    CSU has now received the platinum rating three years in a row, making it the only university
                    to achieve this feat so far.</p>

                <p>In the video, we include steps that other universities can implement to become more sustainable, such
                    as installing solar panels. In summary, everyone has a stake in
                    the problem of environmental exploitation, and we need to become more sustainable to ensure
                    humanity's future. Immediate radical change may not be feasible, but we can make progress by
                    transforming the
                    traditional university system, as universities should be leaders in sustainability.</p>

                <p>The world is in our hands; it is our responsibility to help
                    future generations.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body larger-line-height">
                <h5>References</h5>
                <div>
                    AASHE. (2021, November 15). Stars, Sustainability Tracking Assessment & Rating System. Retrieved
                    December 10, 2021, from
                    <a href="https://stars.aashe.org/">https://stars.aashe.org/</a>.
                </div>
                <div>
                    Aid, P. (2015). Curbing the college waste problem. Planet Aid, Inc. Retrieved December 10, 2021,
                    from
                    <a
                        href="https://www.planetaid.org/blog/curbing-the-college-waste-problem">https://www.planetaid.org/blog/curbing-the-college-waste-problem</a>.
                </div>
                <div>
                    Breeze, J. H. | T. (2018, December 3). Opinion: Food waste on college campuses is extreme. <i>The
                        Breeze.</i> Retrieved December 10, 2021, from
                    <a
                        href="https://www.breezejmu.org/opinion/opinion-food-waste-on-college-campuses-is-extreme/article_0156c344-f4b7-11e8-8b3b-ab6f6b18f1c3.html">https://www.breezejmu.org/opinion/opinion-food-waste-on-college-campuses-is-extreme/article_0156c344-f4b7-11e8-8b3b-ab6f6b18f1c3.html</a>.
                </div>
                <div>
                    Colorado State University. (2020). Housing Dining Services. Retrieved December 10, 2021, from
                    <a
                        href="https://housing.colostate.edu/about/sustainability/reports/">https://housing.colostate.edu/about/sustainability/reports/</a>.
                </div>
                <div>
                    Cullor, R. (2018, September 30). CSU plans for death of "Oscar," The compost machine. <i>The Rocky
                        Mountain Collegian.</i> Retrieved December 10, 2021, from
                    <a
                        href="https://collegian.com/2018/09/csu-planning-for-death-of-oscar-the-compost-machine/">https://collegian.com/2018/09/csu-planning-for-death-of-oscar-the-compost-machine/</a>.
                </div>
                <div>
                    Giordano, J. (2020, November 9). Colorado State University ranks as top performer in 2020
                    sustainable campus index. <i>SOURCE.</i> Retrieved December 10, 2021, from
                    <a
                        href="https://source.colostate.edu/colorado-state-university-ranks-as-top-performer-in-2020-sustainable-campus-index/">https://source.colostate.edu/colorado-state-university-ranks-as-top-performer-in-2020-sustainable-campus-index/</a>.
                </div>
                <div>
                    Kumar, A., Tyagi, S., & Sharma, L. (2015). A Study of E-Waste Management on the subject of Awareness
                    of college Students. Research Gate.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}