{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Forensic Accounting and Money Laundering{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-12 mb-3">
            <h1>Forensic Accounting and Money Laundering</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/LgG46_CFcdM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>What is Money Laundering?</h5>
                    <ul class="mb-0">
                        <li>The concealment of the origins of illegally obtained money, typically by means of transfers
                            involving foreign banks or legitimate businesses.
                        </li>
                        <li>“The process of making illegally-gained proceeds (i.e. "dirty money") appear legal or
                            ‘clean’”
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>Anti Money Laundering Laws</h5>
                    <ul class="mb-0">
                        <li>Bank Secrecy Act (1970)</li>
                        <li>Money Laundering Control Act (1986)</li>
                        <li>Anti-Drug Abuse Act of 1988</li>
                        <li>Annunzio-Wylie Anti-Money Laundering Act (1992)</li>
                        <li>Money Laundering Suppression Act (1994)</li>
                        <li>Money Laundering and Financial Crimes Strategy Act (1998)</li>
                        <li>Uniting and Strengthening America by Providing Appropriate Tools Required to
                            Intercept and Obstruct Terrorism Act of 2001 (USA PATRIOT Act)
                        </li>
                        <li>Intelligence Reform & Terrorism Prevention Act (2004)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5>Ways to Change Your Security to Avoid this Happening to You</h5>
                    <ul class="mb-0">
                        <li>Download antivirus software, firewall, strong password, multi-factor authentication</li>
                        <li>Make sure your home routers are up to date (research new routers to ensure that your
                            technology is up to date)
                        </li>
                        <li>Do not click on or follow suspicious links/attachments</li>
                        <li>Manually and frequently check your bank accounts</li>
                        <li>Think like a criminal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
