{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Discriminations in the Food and Farming Industry{% endblock title %}

{% block body %}
<div class="row mb-3">
    <div class="col-12">
        <h1>Discriminations in the Food and Farming Industry</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/wYGm9wd43oI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>Discrimination in our food system is everyone's problem. It starts the second the seed is put into
                    the ground. Black farmers make one-fifth of what white farmers make. About 24 million Americans are
                    in <strong>food deserts</strong>; these food deserts are places that have limited access to healthy
                    foods. Of these
                    24 million Americans, about 6.5 million are children. With little to no access to healthy foods,
                    this can lead to dietary and nutritional problems and the development of health conditions, such as
                    diabetes.</p>
                <p>Individuals who live in these food deserts live in lower income communities, which tend to be
                    communities with higher populations of minorities. When these individuals develop
                    health problems, they may struggle to financially afford medical visits, tests, and treatment. We
                    need to find a way to make healthy food more affordable and accessible to these lower income
                    communities.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5>References</h5>
                <p>Babe, Food Science. "Food Science Babe: Structural Racism in the U.S. Food and Ag System."
                    <i>AGDAILY</i>, 11 June 2020,
                    <a href="https://www.agdaily.com/insights/food-science-babe-structural-racism-u-s-food-agricultural-system/" target="_blank">www.agdaily.com/insights/food-science-babe-structural-racism-u-s-food-agricultural-system/</a>.
                </p>
                <p>Borderless Charity. "How to Make Healthy Food More Affordable and Accessible." <i>Medium</i>, 1 Jan.
                    2018, <a href="https://medium.com/@TheCharity/how-to-make-healthy-food-more-affordable-and-accessible-3f6aaaef52f2" target="_blank">medium.com/@TheCharity/how-to-make-healthy-food-more-affordable-and-accessible-3f6aaaef52f2</a>.
                </p>
                <p>Community Commons. "Three Ways to Improve Access to Healthy Food." <i>Community Commons</i>, 15 Mar.
                    2017, <a href="https://www.communitycommons.org/entities/86f764f8-a171-45b2-a2bf-181c23715d4c" target="_blank">www.communitycommons.org/entities/86f764f8-a171-45b2-a2bf-181c23715d4c</a>.</p>
                <p>Giles, Jim. "Discrimination in Our Food System Is Everybody's Problem." <i>Greenbiz</i>, 5 June 2020,
                    <a href="https://www.greenbiz.com/article/discrimination-our-food-system-everybodys-problem" target="_blank">www.greenbiz.com/article/discrimination-our-food-system-everybodys-problem</a>.</p>
                <p class="mb-0">Marshall, Lisa. "How Can Healthy Food Become Accessible to All?" 24 Aug. 2018,
                    <a href="https://www.deliciousliving.com/health/nutrition/how-can-healthy-food-become-accessible-all/" target="_blank">www.deliciousliving.com/health/nutrition/how-can-healthy-food-become-accessible-all/</a>.</p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}