{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Online Scamming{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Online Scamming</h1> 
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/6OboNxDYuoY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height">
                <p>For our project, we created a fun, informational video about unconventional
                    methods of online scamming targeted towards younger generations.</p>
                <p>In our video, we cover Facebook Marketplace and Craigslist scams. We also focus on Venmo scams. </p>
                <p class="mb-0">The types of Venmo scams we discuss are: </p>
                <ul>
                    <li>Phone Call Scams</li>
                    <li>You Won a Prize Scam</li>
                    <li>A Friend Needs Help Scam</li>
                    <li>"Suggar Mommy" or "Sugar Daddy" Scam</li>
                </ul>
                <p class="mb-0">Importantly, we discuss several ways to identify and avoid online scams.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5>References</h5>
                <p>Common Scams on Venmo. (n.d.). Retrieved from <a
                        href="https://help.venmo.com/hc/en-us/articles/360048404533-Common-Scams-on-Venmo">https://help.venmo.com/hc/en-us/articles/360048404533-Common-Scams-on-Venmo</a>.
                </p>
                <p>Garg, V., & Nilizadeh, S. (2013, May). Craigslist scams and community composition: Investigating
                    online fraud victimization. In <i>2013 IEEE Security and Privacy Workshops</i> (pp. 123-126).</p>
                <p>Stojnic, T., Vatsalan, D., & Arachchilage, N. A. (2021). Phishing email strategies: Understanding
                    cybercriminals' strategies of crafting phishing emails. <i>Security and Privacy, 4</i>(5), e165.</p>
                <p>Wash, R. (2020). How experts detect phishing scam emails. <i>Proceedings of the ACM on Human-Computer
                        Interaction, 4</i>(CSCW2), 1-28.</p>

            </div>
        </div>
    </div>
</div>

{% endblock body %}