{% extends "base.html" %}
{% set active_page = "social" %}

{% block title %}Social Isolation with Dr. Jennifer Harman{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Social Isolation</h1>

    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/glCJqJ_bMGw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>In an effort to provide a closer look at social isolation during the COVID-19
                    pandemic, we interviewed a renowned professor of Colorado State University, Dr. Jennifer Harman.</p>
                <p>Social isolation can be defined structurally as the absence of social interactions, contacts, and
                    relationships with family and friends, with neighbors on an individual level, and with "society at
                    large" on a broader level. Social isolation has become a common problem in today's society.
                </p>
                <p>When COVID-19 was at its peak, interactions with people outside one's home was severely limited. With
                    these limited interactions, many people experienced feelings of depression and loneliness,
                    negatively impacting people's mental health.
                </p>
                <p>Social isolation heightens risks for various health concerns and can affect anyone at any age. Given
                    the grave consequences that can result from social isolation, our team reached out to an expert on
                    this topic, Dr. Jennifer Harman, a psychology professor at CSU. She bluntly explains that the risks
                    and consequences of social isolation can be severe, especially when social isolation is experienced
                    over a prolonged time. She also offers advice and solutions to overcome social isolation and feel
                    connected again.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">References</h3>
                <p>Arzate-Mejía, R. G., Lottenbach, Z., Schindler, V., Jawaid, A., & Mansuy, I. M. (2020). Long-term
                    impact of social isolation and molecular underpinnings. <i>Frontiers in Genetics</i>, 11, 589621.
                </p>
                <p>
                    Centers for Disease Control and Prevention. (2021). Loneliness and Social Isolation Linked to
                    Serious Health Conditions. <a
                        href="https://www.cdc.gov/aging/publications/features/lonely-older-adults.html">https://www.cdc.gov/aging/publications/features/lonely-older-adults.html</a>.
                </p>
                <p>Hwang, T. J., Rabheru, K., Peisah, C., Reichman, W., & Ikeda, M. (2020). Loneliness and social
                    isolation during the COVID-19 pandemic. <i>International Psychogeriatrics</i>, 32(10), 1217-1220.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}