{% extends "base.html" %}
{% set active_page = "economic" %}

{% block title %}Wells Fargo Scandal{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Wells Fargo Cross-Selling Scandal</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/eUJaPPqlEts" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>Wells Fargo is a financial services company that focuses on customer relationships and keeping an
                    actively engaged sales culture. In 2013, it was revealed that Wells Fargo employees had been engaged
                    in a cross-selling scandal. Prior to the scandal, Wells Fargo had a great reputation and was even
                    named "the big bank least tarnished by the scandals and reputational crises" by American Banker.</p>
                <p> Cross-selling is about selling the most products from Wells Fargo to
                    customers. The more products their customers have, the more
                    information the bank has on their customers, which helps them make better
                    banking decisions about credit, products, and pricing. </p>
                <p>The cross-selling scandal involved Wells Fargo employees using aggressive
                    selling tactics to meet their quotas. Employees were fired for opening
                    accounts with debit or credit cards without the customers' knowledge.
                    Some said Wells Fargo's daily sales target put an excessive amount of
                    pressure on employees to meet that target, leading to these sales integrity
                    violations. </p>
                <p>Wells Fargo had policies in place to prevent employees from ignoring sales
                    integrity. These policies included the Executive Officer Stock Ownership
                    Policy, Unearned Compensation Recoupment, Extended Clawback Policy,
                    and Performance-Based Vesting Conditions. However, these were not sufficient
                    to prevent this scandal. </p>
                <p> In the end, Wells Fargo announced it would pay $185 million to settle a lawsuit
                    filed by regulators and the city and county of Los Angeles, and the company
                    admitted to employees opening up to two million accounts without the customers'
                    knowledge. The bank announced actions that would be taken to improve its internal controls. This
                    included hiring an independent consulting firm, terminating
                    over 5000 employees, eliminating product goals, and more. </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5>References</h5>
                <p>Elson, R. J., & Ingram, P. (2018). Wells Fargo and the unauthorized customer accounts: A case study.
                    <i>Global Journal of Business Pedagogy, 2</i> (1), 607-639.</p>
                <p class="mb-0">Tayan, B. (2019). The Wells Fargo cross-selling scandal. <i>Rock Center for Corporate Governance at
                        Stanford University Closer Look Series: Topics, Issues and Controversies in Corporate Governance
                        No. CGRP-62 Version, 2</i>, 17-1.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}