{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Environmental{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Environmental</h2>
            <p>This is the environmental page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group">
                <a href="{{ url_for('environmental.agriculture_and_water') }}" class="list-group-item list-group-item-action">Agriculture and Water</a>
                <a href="{{ url_for('environmental.sustainable_restaurants') }}" class="list-group-item list-group-item-action">Sustainable Restaurants</a>
                <a href="{{ url_for('environmental.livestock_sustainability') }}" class="list-group-item list-group-item-action">Livestock Sustainability</a>
            </div>
        </div>
    </div>
{% endblock body %}
