{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Environmental{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Environmental</h2>
            <p>This is the environmental page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group">
                <a href="{{ url_for('environmental.agriculture_and_water') }}" class="list-group-item list-group-item-action">Agriculture and Water</a>
                <a href="{{ url_for('environmental.sustainable_restaurants') }}" class="list-group-item list-group-item-action">Sustainable Restaurants</a>
                <a href="{{ url_for('environmental.livestock_sustainability') }}" class="list-group-item list-group-item-action">Livestock Sustainability</a>
                <div class="col-12 col-lg-4">
            <div class="card">
                <img class="card-img-top"
src="https://images.unsplash.com/photo-1504817343863-5092a923803e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                     alt="CSU Sustainability"/>
                <div class="card-body">
                    <a class="btn btn-success" href="{{ url_for('environmental.csu_sustainability') }}">CSU Sustainability</a>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
{% endblock body %}
