{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Environmental{% endblock title %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <h1>Environmental</h1>
            <p class="lead">This is the environmental page.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1518620664663-35a1f6378ec6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1656&h=1000&q=80"
                     alt="Agriculture and Water"/>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis, cum esse et in
                        incidunt iure labore natus officiis pariatur, perspiciatis quaerat quia quod repellat, sed sunt
                        voluptates voluptatibus voluptatum.</p>
                    <a class="btn btn-success" href="{{ url_for('environmental.agriculture_and_water') }}">Agriculture
                        and Water</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="card">
                <img class="card-img-top"
                     src="https://images.unsplash.com/photo-1558473399-6773c890474c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1159&h=700&q=80"
                     alt="Sustainable restaurants"/>
                <div class="card-body">
                    <p>According to 303 Magazine, “Over 40% of
                        what we produce in the US [is] thrown away and not used. This is enough to feed everyone
                        who lives in the US and not wasting food could end hunger tomorrow”. This is a large
                        issue in the restaurant industry that needs to be addressed.</p>
                    <a class="btn btn-success" href="{{ url_for('environmental.sustainable_restaurants') }}">Restaurant
                        Sustainability</a>
                </div>
            </div>
        </div>
        <div class="cold-12 col-lg-4 mb-3">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1619865482177-71d195df05b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1656&h=1000&q=80"
                     alt="Livestock sustainability" class="card-img-top"/>
                <div class="card-body">
                    <p>Food production is putting chemicals into our rivers, sending CO<sub>2</sub> into the air we breathe, and
                        destroying the land that our animals live on. While we
                        need food to survive, we have to look at the long-term impacts that production is having on our
                        environment and society as a whole.</p>
                    <a class="btn btn-success" href="{{ url_for('environmental.livestock_sustainability') }}">Livestock
                        Sustainability</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1504817343863-5092a923803e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1656&q=80"
                     alt="CSU Sustainability" class="card-img-top">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis, cum esse et in
                        incidunt iure labore natus officiis pariatur, perspiciatis quaerat quia quod repellat, sed sunt
                        voluptates voluptatibus voluptatum.</p>
                    <a class="btn btn-success" href="{{ url_for('environmental.csu_sustainability') }}">CSU
                        Sustainability</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
