{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Livestock Sustainability{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12 mb-3">
            <h1>How Food Production Affects Our Environment</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="420" src="https://www.youtube.com/embed/THLT22nDffs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h3>Introduction</h3>
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <p>
                        Today food production is one of the biggest industries in the world. Humans produce enough food
                        to feed over one and a half times the world population. In the US alone, thirty to forty percent
                        of the food we produce is wasted every year. While we need food to survive, we have to look at
                        the long-term impacts that production is having on our environment and society as a whole. Food
                        production is putting chemicals into our rivers, sending CO2 into the air we breathe, and
                        destroying the land that our animals live on. As the population continues to grow, so does food
                        production. It's up to us to make a difference one step at a time before it's too late.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Soil</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Problems</h5>
                    <p>Soil is one of the biggest components of our ecosystem and today’s farming strategies are
                        destroying it. The first step in farming is to make a field and the only way to do that is by
                        clearing the land, also known as deforestation. Deforestation occurs when farmers cut down all
                        the trees and vegetation to clear a field to farm. This causes the topsoil to dry out and the
                        roots that hold the soil in place to die out. If crops aren’t replanted fast enough, water and
                        wind erosion can occur causing the nutrient-rich soil to be washed away. (5) Another way today’s
                        farming practices destroy the soil is by depleting its nutrients. Monocropping is a very popular
                        agricultural practice where the same crop is grown over and over again on the same plot of land.
                        This reduces the number of nutrients and organic matter from the soil. (2) Fertilizers are
                        another huge treat to our soil. While fertilizers can increase plant growth and productivity
                        they can also do harm. For example, nitrogen fertilizer can cause soil acidification, which can
                        affect plant growth. Excessive fertilizer use can also cause a buildup of salts in the soil,
                        heavy metal contamination, and accumulation of nitrate (which is a source of water pollution and
                        also harmful to humans). (2) That’s not it, other chemical fertilizers can lead to soil
                        degradation, nitrogen leaching, soil compaction, reduction in soil organic matter, and loss of
                        soil carbon. (3) These issues can destroy a whole season’s harvest and cost lots of money to
                        reverse and rebuild the soil to a healthy state. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Solutions</h5>
                    <p>One of the solutions to help the soil and crops when it
                        comes to food production is the use of
                        organic fertilizers. Organic fertilizers offer a much more sustainable option because they are
                        composed of all-natural elements full of living bacteria and they have rich nutrients. These
                        bacteria and nutrients help the soil much more than man-made fertilizers that contain many
                        harmful
                        chemicals. (1) Another way to keep the soil healthier when producing food is through crop
                        rotation.
                        Crop rotation helps preserve the soil nutrients because when the same crop is planted in the
                        same
                        spot over and over then the specific nutrients the crop needs are used up and do not have time
                        to
                        replenish. Crop rotation also deters soil-borne pests from taking over and killing the
                        harvest.(6)
                        If organic fertilizers are not an option, another way to help the soil and crops is through
                        biological pesticides. This is when a different insect is introduced to a crop plot and they eat
                        or
                        deter the other insects that are destroying the crops and damaging the soil.(7)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>References</h5>
                    <ol class="mb-0">
                        <li>
                            <a href="https://www.nature.com/articles/s41598-020-66648-9#:~:text=Excessive%20fertilizer%20application%20aggravates%20the,structure%20of%20soil%20microbes6.&text=Repeated%20overuse%20of%20chemical%20fertilizer,and%20soil%20microbial%20community%20structure">https://www.nature.com/articles/s41598-020-66648-9#:~:text=Excessive%20fertilizer%20application%20aggravates%20the,structure%20of%20soil%20microbes6.&text=Repeated%20overuse%20of%20chemical%20fertilizer,and%20soil%20microbial%20community%20structure</a>
                        </li>
                        <li>
                            <a href="https://foodprint.org/issues/how-industrial-agriculture-affects-our-soil/">https://foodprint.org/issues/how-industrial-agriculture-affects-our-soil/</a>
                        </li>
                        <li>
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6538140/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6538140/</a>
                        </li>
                        <li>
                            <a href="https://www.mapleridge.ca/1776/Food-Production">https://www.mapleridge.ca/1776/Food-Production</a>
                        </li>
                        <li>
                            <a href="https://www.worldwildlife.org/threats/soil-erosion-and-degradation#:~:text=likely%20to%20occur.-,Agriculture,or%20washed%20away%20by%20rains">https://www.worldwildlife.org/threats/soil-erosion-and-degradation#:~:text=likely%20to%20occur.-,Agriculture,or%20washed%20away%20by%20rains</a>
                        </li>
                        <li>
                            <a href="https://store.almanac.com/the-importance-of-crop-rotation/#:~:text=Crop%20rotation%20helps%20to%20maintain,used%20time%20and%20time%20again">https://store.almanac.com/the-importance-of-crop-rotation/#:~:text=Crop%20rotation%20helps%20to%20maintain,used%20time%20and%20time%20again</a>
                        </li>
                        <li>
                            <a href="https://learn.tearfund.org/en/resources/footsteps/footsteps-71-80/footsteps-77/natural-pest-management">https://learn.tearfund.org/en/resources/footsteps/footsteps-71-80/footsteps-77/natural-pest-management</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Water</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Water Scarcity Problems</h5>
                    <p>With the limited amount of freshwater that is currently left on Earth, agricultural uses of water
                        have become excessive. With the growing population, farmers are going to need more and more
                        water to sustain the growing agricultural business. This issue is important and can be seen by
                        examining the 850 million undernourished people living in rural areas who depend on using large
                        amounts of water for a livelihood in agriculture. (3). Not to mention, everyone depends on
                        agricultural farming for their meals and nourishment. When people think about their use of
                        water, they are thinking about the 2 to 5 liters of drinking water and 20 to 400 liters of water
                        for household use every day. This statistic is actually false because if you count in the
                        groceries bought from farmers, the average person’s use of water is about 2,000 and 5,000 liters
                        per day. (3). </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Solutions</h5>
                    <p>This problem does not have an easy fix, but there are things that can be done to help create a
                        change. For one, irrigation can be made more efficient. This would include ensuring there is no
                        leakage in the irrigation systems and systems can be optimized to water only when and where
                        water is needed. (5). Going organic can also help with water scarcity because organic fields
                        have greater soil moisture. (5). </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Water Quality Problems</h5>
                    <p>In agricultural farming, many chemicals and harmful products are being used to help the process
                        go smoothly, but this also has negative effects on the quality of our water. When farm lagoons
                        leak, contaminated water can end up in waterways and groundwater. (4). This can become
                        dangerous. High concentrations of nitrate in drinking water can cause methemoglobinemia, a
                        potentially fatal disease in infants, also known as blue baby syndrome. (1). The nitrate in this
                        drinking water comes from using high amounts of pesticides for crops. The 2000 National Water
                        Quality Industry reported that agricultural water pollution is the leading source of water
                        quality impacts on several rivers, lakes, and wetlands. (1). </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Solutions</h5>
                    <p>
                        Some solutions to these issues that could create a positive change would be for farmers to apply
                        fertilizers in the proper amount, at the right time of year, and using the right method. Another
                        thing farmers could do is keep animals and their waste out of streams. (2). This will prevent
                        nitrogen and phosphorus from getting into the water. One of the best solutions is for farmers to
                        plant field buffers. This would require more time and money but is a great way to keep our water
                        safe. By planting trees and shrubs around the crops, it would allow for these buffers to soak up
                        all nutrient loss from fields and keep the chemicals out of water sources. (2).
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5>References</h5>
                    <ol class="mb-0">
                        <li>
                            <a href="https://www.epa.gov/sites/default/files/2015-09/documents/ag_runoff_fact_sheet.pdf#:~:text=Irrigation%20water%20is%20applied%20to%20supplement%20natural%20precipitation,to%20convert%20irrigation%20systems%20to%20higher%20ef%EF%AC%81ciency%20equipment.">Protecting
                                Water Quality from Agricultural Runoff (epa.gov)</a>
                        </li>
                        <li>
                            <a href="https://www.epa.gov/nutrientpollution/sources-and-solutions-agriculture#:~:text=Applying%20fertilizers%20in%20the%20proper%20amount%2C%20at%20the,out%20of%20the%20water%20and%20protects%20stream%20banks.">The
                                Sources and Solutions: Agriculture | US EPA</a>
                        </li>
                        <li>
                            <a href="https://web-p-ebscohost-com.ezproxy2.library.colostate.edu/ehost/detail/detail?vid=9&sid=340d43cb-1cf2-4a1e-bee4-4a02dc2d4fcf%40redis&bdata=JkF1dGhUeXBlPWNvb2tpZSxpcCx1cmwsY3BpZCZjdXN0aWQ9czQ2NDA3OTImc2l0ZT1laG9zdC1saXZl#AN=25742937&db=aph">Water
                                Scarcity: EBSCOhost (colostate.edu)</a>
                        </li>
                        <li>
                            <a href="https://foodprint.org/issues/how-industrial-agriculture-affects-our-water/">How
                                Industrial Agriculture Causes Water Pollution - FoodPrint</a>
                        </li>
                        <li>
                            <a href="https://greentumble.com/ways-to-reduce-water-consumption-on-farms/">Easy Ways to
                                Reduce Water Consumption on Farms | Greentumble</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Air</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Climate Change Issues</h5>
                    <p>Air pollution is very common because with the invention of more agricultural machinery, there are
                        high rates of carbon dioxide being released into the air. This is a large component of what
                        causes climate change, and large corporations are responsible for most of this global issue.
                        Half of the world's habitable land is used for agriculture, which means there is a need for big
                        machinery in order to efficiently make food (1). However, large corporations who own this land
                        are solely focused on their profits. They do not realize or care that they contribute to climate
                        change by emitting a great deal of CO2 into the air through their use of heavy machinery. In the
                        same realm, agriculture altogether contributes to poor air quality because there are a lot of
                        air pollutants including CO2 that are released into the air throughout the agricultural process
                        (2). There are chemicals and pesticides that are used all over agricultural land that not only
                        affects the soil, but is also released into the air. These chemicals and pesticides can help
                        contribute to climate change as well as overall poor human health. Food production is linked to
                        worsening air pollution, and this air pollution eventually affects the food production process
                        (3). </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Solutions</h5>
                    <p>Policies and regulations to help reduce these greenhouse gas emissions must be enacted and
                        followed in order for changes to be made and progress to be seen in terms of the environment and
                        air quality (2). It is also up to individuals to make the real change by voting with their
                        dollar. At the end of the day, these big corporations are primarily focused on the money aspect
                        of it all. If more and more people are supporting environmentally friendly and sustainable
                        companies instead of theirs, they will be forced to make a change. What you buy on an individual
                        level sends a clear and direct message to corporations on what their customers want and what
                        they support (4).</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <ol class="mb-0">
                        <li>
                            <a href="https://ourworldindata.org/global-land-for-agriculture#:~:text=Half%20of%20all%20habitable%20land,roads%20and%20other%20human%20infrastructure">https://ourworldindata.org/global-land-for-agriculture#:~:text=Half%20of%20all%20habitable%20land,roads%20and%20other%20human%20infrastructure</a>
                        </li>
                        <li>
                            <a href="https://pubs.acs.org/doi/10.1021/es8024403">https://pubs.acs.org/doi/10.1021/es8024403</a>
                        </li>
                        <li>
                            <a href="https://unece.org/air-pollution-and-food-production">https://unece.org/air-pollution-and-food-production</a>
                        </li>
                        <li>
                            <a href="https://www.greenamerica.org/blog/what-does-it-mean-vote-your-dollar">https://www.greenamerica.org/blog/what-does-it-mean-vote-your-dollar</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Livestock</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Problems</h5>
                    <p>Animal raising operations play a major role in our air quality and pollution. Cattle, pigs, and
                        chickens release a huge amount of methane, nitrous oxide, and ammonia into the air that we
                        breathe every day. These gases are progressing climate change and causing a negative impact on
                        human health(1). Did you know that cattle are the number one agricultural source of greenhouse
                        gases? According to Frank Mitloehner, a professor and air quality specialist in the Department
                        of Animal Science UC Davis, each year a cow will release about 220 pounds of methane. He claims
                        that methane from cattle is 28 times more potent than Carbon Dioxide. This problem is happening
                        globally, for example, India has the largest cattle population in the world, but the lowest
                        consumption of beef. So, this imposes a negative effect because it results in cows living longer
                        and producing more methane over their lifetime (2). There must be a way to keep cattle in the
                        farming system, while not having detrimental effects on human health. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <div class="card">
                <div class="card-body larger-line-height three-columns">
                    <h5>Solutions</h5>
                    <p>
                        A way to make cows less gassy and more sustainable is to make their high-fiber diet easier to
                        digest, so scientists have turned to feeding supplements to the cattle. One that has worked is
                        seaweed. Ermias Kebreab, Chair Associate Dean of Global Engagement stated, “We’ve done one trial
                        and showed that there is up to a 60 percent reduction in methane emissions by using 1 percent of
                        seaweed in the diet.” The seaweed has been shown to not make the cow’s milk taste bad or any
                        different, this is now being tested on beef cattle as well. This solution to the methane issue
                        with cattle is inexpensive and reduces emissions, and ultimately bettering human health (2).
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5>References</h5>
                    <ol class="mb-0">
                        <li>
                            <a href="https://nifa.usda.gov/topic/air#:~:text=While%20air%20pollution%20from%20agriculture,and%20ammonia%20into%20the%20air">https://nifa.usda.gov/topic/air#:~:text=While%20air%20pollution%20from%20agriculture,and%20ammonia%20into%20the%20air</a>
                        </li>
                        <li>
                            <a href="https://www.ucdavis.edu/food/news/making-cattle-more-sustainable">https://www.ucdavis.edu/food/news/making-cattle-more-sustainable</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

