{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Livestock Sustainability{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12 mb-3">
        <h1>Livestock Sustainability with Dr. Temple Grandin</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <iframe width="100%" height="420" src="https://www.youtube.com/embed/THLT22nDffs" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body larger-line-height three-columns">
                <p>
                    Livestock sustainability is a moral issue, with the management of livestock having impacts on
                    ethical animal welfare and the global climate. Potential solutions include fighting for better
                    policies, producing fewer meat products from livestock, and being a responsible consumer, among
                    other solutions.
                </p>
                <p>To learn more about these challenges and potential solutions, two teams conducted research on these
                    topics. Each team also had the privilege of interviewing Dr. Temple Grandin, a world-renowned
                    livestock sustainability expert at Colorado State University.
                </p>
                <p>What we learned from the interviews is that livestock sustainability is a complicated issue, with
                    many layers and stakeholders involved. While it can be easy to find information about how livestock
                    grazing damages the environment, it's not as well known that using grazing animals in crop rotation
                    can improve the land in some cases. Dr. Grandin learned from an agronomist who visited CSU that the
                    very best crop land in the United States, in Iowa and Illinois, was created by herds of grazing
                    bison. There are huge amounts of land in the world that could be improved with specialized grazing
                    and crop rotation.
                </p>
                <p>As Dr. Grandin says, "we must give animals a life worth living." She talked about how livestock are
                    raised and managed with the need for more humane practices, despite industry pushback. Along these
                    lines, Dr. Grandin has observed for decades in her consulting work that poor management is often the
                    root cause of many of the problems in the livestock industry. Dr. Grandin made it very clear that we
                    "need to get the suits out of the office." She talked about managers who never step foot in any of
                    the plants they manage and, instead, spend a lot of time behind spreadsheets, where "everything is
                    an abstraction." She was very passionate about how management needs to spend more time "in the world
                    of the practical" and see first-hand the people and processes they are managing. In fact, she was
                    very clear that she would much prefer good management with outdated but adequate equipment at a
                    plant rather than poor management with the latest and greatest equipment.
                </p>
                <p>Because the supply chains in the livestock industry are big and complex, Dr. Grandin emphasized that
                    "big is fragile," meaning that these large, complicated systems are easy to break. A business
                    solution offered by Dr. Grandin would be to have more distributed supply chains, like the beer
                    industry has. She talked about how we have a gigantic Budweiser plant locally with many small
                    micro-breweries to serve mixed markets, suggesting that we could try to set up these types of
                    distributed supply chains for livestock sustainability.
                </p>
                <p>Overall, our teams learned a great deal from Dr. Temple Grandin, and we would like to thank her for
                    taking time to meet with each team separately. As one of our team members reflected, "my interview
                    with Dr. Temple Grandin was one of the most special and eye-opening things I did in this class. She
                    taught us the value of seeing things as practically as possible and not as an abstraction. She said,
                    'we have to make them [CEOs and corporate bigwigs] see that they are not just figures on a
                    spreadsheet.' You can also take this to mean that the more practically you see things, the more
                    influence that you can have on their systems as you know their inner workings." It's important for
                    business students and professionals to understand the inner workings of the systems we're embedded
                    in if we are going to achieve business sustainability across the globe.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h5>References</h5>
                <p>Broom, D. M. (2019). Animal welfare complementing or conflicting with other sustainability issues.
                    Applied Animal Behaviour Science, 219, 104829.
                </p>
                <p>Byrnes, R. C., Eastburn, D. J., Tate, K. W., & Roche, L. M. (2018). A global meta-analysis of grazing
                    impacts on soil health indicators. Journal of Environmental Quality, 47(4), 758-765.
                </p>
                <p>Losada-Espinosa, N., Miranda-De la Lama, G. C., & Estévez-Moreno, L. X. (2020). Stockpeople and
                    Animal Welfare: Compatibilities, Contradictions, and Unresolved Ethical Dilemmas. Journal of
                    Agricultural and Environmental Ethics, 33(1), 71-92.
                </p>
                <p>Temple, D., & Manteca, X. (2020). Animal welfare in extensive production systems is still an area of
                    concern. Frontiers in Sustainable Food Systems, 4, 545902.
                </p>
                <p>World Bank 2020. Moving towards sustainability: the livestock sector and the World Bank. <a
                        href="https://www.worldbank.org/en/topic/agriculture/brief/moving-towards-sustainability-thelivestock-sector-and-the-world-bank">https://www.worldbank.org/en/topic/agriculture/brief/moving-towards-sustainability-thelivestock-sector-and-the-world-bank</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock body %}