{% extends "base.html" %}
{% set active_page = "environmental" %}

{% block title %}Livestock Sustainability{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Livestock Sustainability</h2> 
            <p>This is the livestock sustainability page.</p> {# CHANGE THIS #}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/tW8uu1dm0ZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <h3>Something about Livestock Sustainability</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolor illo impedit minus natus
                necessitatibus placeat qui vel velit voluptatem? Adipisci aliquid amet dicta dolore dolorum eos
                facere libero nemo nulla quis, repellat velit. Ad adipisci architecto atque autem consequatur
                consequuntur debitis delectus dolore doloremque earum, enim esse eum exercitationem facere fuga
                impedit, iste itaque iure labore laboriosam laudantium magni molestiae molestias nihil nobis
                obcaecati praesentium quam quas quidem reprehenderit sed sint suscipit unde veniam, veritatis
                voluptates voluptatum. Aut corporis excepturi maiores neque numquam rem.</p>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Something about Livestock Sustainability</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dignissimos doloremque illum
                iste maxime tempora vitae! Ab amet deleniti dolorem, eligendi eveniet inventore iure quia quis
                rerum tenetur. Ab aperiam, aspernatur assumenda autem debitis dignissimos doloribus earum
                expedita incidunt inventore laborum maxime molestiae natus nostrum numquam obcaecati
                perspiciatis quia repellat rerum saepe sed sequi sit suscipit. Accusamus, aliquid aspernatur
                culpa illo maiores mollitia officia quae quia sint! Accusantium aperiam atque fuga fugiat iure
                repellendus saepe tempore?</p>
        </div>
    </div>
{% endblock body %}

