{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}bored 3{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h2>bored 3</h2>
        <p>Here's something that you can do when you're bored!</p>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <button class="btn btn-info">{{bored_data["activity"]}}</button>
    </div>
    <div class="col-12 col-lg-6">
        <button class="btn btn-success">{{bored_data["type"]}}</button>
    </div>
</div>

{% endblock body %}