{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}Brewing Company{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Brewing Company, by Olivia Leath</h2>
            <p>On this page, you can view different Brewing companies!</p>
        </div>
    </div>

    {% for brewing_company in brewing_company_data %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="alert alert-secondary">
                    {{ brewing_company["name"] }}, {{ brewing_company["city"] }}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="alert alert-danger">
                    {{ brewing_company["state"] }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}
