{% extends "base.html" %}
{% set active_page = "sandbox" %}

% block title %
<Coindesk></Coindesk>{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Coindesk</h2>
            <p>On this page you find coindesk.</p>
        </div>
    </div>
{% endblock body %}

@sandbox.route("/coindesk")
def coindesk ():
coindesk_data = ApiRequest ("https://api.coindesk.com/v1/bpi/currentprice.json").make_request ()
return render_template ("sandbox/coindesk.html"),
coindesk_data= coindesk_data)
