{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}Facts{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Facts, by Hannah Mismas</h2>
            <p>On this page, you will find random facts.</p>
        </div>
    </div>
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="alert alert-secondary">
            {{  facts_data["text"]  }}
        </div>
    </div>
</div>
  
    {% endblock body %}