{% extends "base.html" %}
{% set active_page = "sandbox" %} 

{% block title %}Holidays{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Holidays</h2> 
            <p>This page shows the dates of various Holidays .</p> 
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[0]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[0]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[1]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[1]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[2]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[2]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[3]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[3]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[4]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[4]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[5]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[5]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[6]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[6]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[7]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[7]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[8]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[8]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[9]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[9]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[10]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[10]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[11]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[11]["name"]}}  
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-success">
              {{holidays_data[12]["date"]}}  
            </div>
        </div>
        <div class="col-12 col-lg 6">
            <div class="alert alert-danger">
             {{holidays_data[12]["name"]}}  
            </div>
        </div>
    </div>

{% endblock body %}
