{% extends "base.html" %}
{% set active_page = "sandbox" %} 

{% block title %}Holidays{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Holidays, by Ava Schneider</h2>
            <p>This page shows the dates of various Holidays .</p> 
        </div>
    </div>

    {% for holiday in holidays_data %}

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="alert alert-success">
                {{holiday["date"]}}  
                </div>
            </div>
            <div class="col-12 col-lg 6">
                <div class="alert alert-danger">
                {{holiday["name"]}}  
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock body %}
