{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}Sandbox{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>IS Team Sandbox</h1>
            <p class="lead">
                The IS Team used these "sandbox" pages to practice HTML and Python. We focused specifically on
                mobile-responsive design.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="list-group">
                <a href="{{ url_for('sandbox.bored') }}" class="list-group-item list-group-item-action">Bored</a>
                <a href="{{ url_for('sandbox.universities') }}" class="list-group-item list-group-item-action">Universities</a>
                <a href="{{ url_for('sandbox.xkcd') }}" class="list-group-item list-group-item-action">Xkcd</a>
                <a href="{{ url_for('sandbox.tv_shows') }}" class="list-group-item list-group-item-action">TV Shows</a>
                <a href="{{ url_for('sandbox.bored3') }}" class="list-group-item list-group-item-action">Bored 3</a>
                <a href="{{ url_for('sandbox.random_dog') }}" class="list-group-item list-group-item-action">Random Dog</a>
                <a href="{{ url_for('sandbox.facts') }}" class="list-group-item list-group-item-action">Facts</a>
                <a href="{{ url_for('sandbox.cats') }}" class="list-group-item list-group-item-action">Cats</a>
                <a href="{{ url_for('sandbox.anime') }}" class="list-group-item list-group-item-action">Anime</a>
                <a href="{{ url_for('sandbox.memes') }}" class="list-group-item list-group-item-action">Memes</a>
                <a href="{{ url_for('sandbox.funny') }}" class="list-group-item list-group-item-action">funny</a>
                <a href="{{ url_for('sandbox.holidays') }}" class="list-group-item list-group-item-action">Holidays</a>
                <a href="{{ url_for('sandbox.IP') }}" class="list-group-item list-group-item-action">IP Address</a>
                <a href="{{ url_for('sandbox.bored2') }}" class="list-group-item list-group-item-action">Bored 2</a>
                <a href="{{ url_for('sandbox.brewing_company') }}" class="list-group-item list-group-item-action">Brewing Company</a>
                <a href="{{ url_for('sandbox.nationality') }}" class="list-group-item list-group-item-action">Nationality</a>
                <a href="{{ url_for('sandbox.agify') }}" class="list-group-item list-group-item-action">Agify</a>
                <a href="{{ url_for('sandbox.coindesk') }}" class="list-group-item list-group-item-action">Coindesk</a>
                <a href="{{ url_for('sandbox.genderize') }}" class="list-group-item list-group-item-action">Genderize</a>
                <a href="{{ url_for('sandbox.jokes') }}" class="list-group-item list-group-item-action">Jokes</a>
                <a href="{{ url_for('sandbox.random_users') }}" class="list-group-item list-group-item-action">Random Users</a>
                <a href="{{ url_for('sandbox.expenditures') }}" class="list-group-item list-group-item-action">Independent
                    Expenditures</a>
            </div>
        </div>
    </div>
{% endblock body %}
