{% extends "base.html" %}
{% set active_page = "Sandbox" %} 

{% block title %}IP Adress{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>IP Adress</h2> 
            <p>On this page you can find your public IP address.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8zEVA-Bxs-0" allowfullscreen></iframe>
                 </div>
            </div>
        </div>
    </div>
<br/>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1566232137428-27dd00f5c6bd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aXAlMjBhZGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="Bubble that says IP in it">
                <div class="class-body">
                    <h4 class="card-title">IP Adress</h4>
                    <p class="card-text"><b>{{ip_data["ip"]}}</b></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1542120926-32f3559e9473?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXAlMjBhZGRyZXNzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="Bubble that says IP in it">
                <div class="class-body">
                    <h4 class="card-title">IP Adress</h4>
                    <p class="card-text"><b>{{ip_data["ip"]}}</b></p>
                </div>
            </div>
        </div>
    </div>
    
    

{% endblock body %}

