{% extends "base.html" %}
{% set active_page = "sandbox" %} 

{% block title %}Memes{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Memes, by Brad Kerr</h2>
            <p>On this page, you can find a meme.</p> 
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-secondary">
                {{ memes_data["data"]["memes"][random_index]["name"]}}
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="alert alert-secondary">
                <a target="_blank" href="{{ memes_data["data"]["memes"][random_index]["url"]}}">Link to meme</a>
            </div>
        </div>
    </div>


{% endblock body %}
