{% extends "base.html" %}
{% set active_page = "sandbox" %} 

{% block title %}Memes{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Memes</h2> 
            <p>On this page, you can find a meme.</p> 
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            {{ memes_data["setup"] }}
        </div>
        <div class="col-12 col-lg-6">
            {{ memes_data["delivery"] }}
        </div>
    </div>

    
{% endblock body %}
