{% extends "base.html" %}
{% set active_page = "sandbox" %} 

{% block title %}Nationality based on name{% endblock title %} 

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Nationality based on name, by Galen Hohenegger</h2>
            <p>On this page you guess someone's nationality, based on their name.
            This time, the random name is: <b>{{ random_name }}</b>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="alert alert-secondary">
                Country: {{ country_name }}
            </div>
        </div>
        <div class="col-12 col-lg-6">
           
            <div class="alert alert-danger">
                Probability:
                {{ nationality_data["country"][0]["probability"] }}
            </div>
            
          
        </div>
    </div>
{% endblock body %}
