{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}Universities{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Universities, by Tammy Li</h2>
            <p>This is a list of universities and their website.</p>
        </div>
    </div>

    {% for university in universities_data %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="alert alert-secondary">
                    {{ university["name"] }}, {{ university["country"] }}
                </div>
            </div>
            <div class="com-12 col-lg-6">
                <div class="alert alert-danger">
                    {{ university["domains"][0] }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}

