{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}Universities{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>Universities</h2>
            <p>This is a list of universities and their website.</p>
        </div>
    </div>

    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="700" src="https://www.youtube.com/embed/LtxRa9Xd4vw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Colorado State University</h5>
                    <p class="card-text">Colorado State University is awesome!</p>
                    <a href="#" class="btn btn-primary">Go Rams!</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6"></div>
    </div>

    {% for university in universities_data %}
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="alert alert-secondary">
                    {{ university["name"] }}, {{ university["country"] }}
                </div>
            </div>
            <div class="com-12 col-lg-6">
                <div class="alert alert-danger">
                    {{ university["domains"][0] }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock body %}

