{% extends "base.html" %}
{% set active_page = "sandbox" %} {# CHANGE THIS #}

{% block title %}xkcd{% endblock title %} {# CHANGE THIS #}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>xkcd</h2> {# CHANGE THIS #}
            <p>a random xkcd comic</p> {# CHANGE THIS #}
        </div>
    </div>
<div class="row">

<div class="col-12 col-lg-6 mb-3">
<input class="btn btn-primary" type="button" value="{{ xkcd_data["safe_title"]}}">
</div>
<div class="col-23 col-lg-6">
    <input class="btn btn-primary" type="button" value="{{ xkcd_data["img"]}}">
</div>
</div>


{% endblock body %}
