{% extends "base.html" %}
{% set active_page = "sandbox" %}

{% block title %}xkcd{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h2>xkcd</h2>
            <p>Today's xkcd comic:</p>
        </div>
    </div>
<div class="row">

<div class="col-12 col-lg-6 mb-3">
<input class="btn btn-primary" type="button" value="{{ xkcd_data["safe_title"]}}">
</div>
<div class="col-23 col-lg-6">
    <img alt="Hard to believe that for so many years once they were fully extended we just let them tip over." class="img-thumbnail" src="{{ xkcd_data["img"]}}">
</div>
</div>


{% endblock body %}
